
// @font-face {
//     font-family: 'vag-rounded';
//     src: url('./vag_round-webfont.woff2') format('woff2'),
//          url('./vag_round-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

//     font-family: 'vag-rounded';

.table {
  thead {
    tr {
      th {
        position: relative;
        vertical-align: text-top;
        font-weight: normal;
        outline: none;
        padding-bottom: 20px;
        cursor: auto;

        i {
          position: absolute;
          top: initial;
          bottom: 0;
          padding-bottom: 5px;
          left: 0;
          right: 0;
          margin: auto;
          cursor: pointer;
        }
      }
      th.combine {
        &, & + th {
          vertical-align: middle;
        }
        .combine-text {
          position: absolute;
          top: 0;
          right: 0;
          transform: translateX(50%);
          padding: 4px;
          background: white;
          pointer-events: none;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        text-align: center;
      }
    }
  }
}

 .dropdown {
   position: initial;

   ul {
     width: 100%;
     border-radius: 0;
     border: 0;
     text-align: right;
     padding: 0;

     li {
       a {
         color: #0959a5;
         &:hover {
           background: #d7e2fa;
           color: #0959a5;
         }
       }
     }
   }
 }



 /* Chrome, Safari, Opera */
 @-webkit-keyframes moreFilterOpen {
     0% {height: 0}
     100% {height: 100%}
 }

 /* Standard syntax */
 @keyframes moreFilterOpen {
    0% {height: 0}
    100% {height: 100%}
 }

 .sprite {
   background: url('/assets/images/sprite.png');
   &.phone {
     background-position: -143px -344px;
     display: inline-block;
     height: 37px;
     position: relative;
     width: 20px;
   }
 }
.compare_page #more_filters #filters {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  -moz-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;

}
.compare_page #more_filters .disclosed {
  max-height: 350px!important;
}


#product .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
}
#product .nav-tabs > li.active {
  top: -5px;
  height: 132px;
  z-index: 2;
}
#product .nav-tabs > li > a {
  border: none;
  border-radius: 0;
  background: none;
}
#product .nav-tabs {
  border-bottom: none;
}
#product .nav > li:hover {
  background: #eeeeee;
}
#product #total_first_year_cost .excluding-line-rental {
  font-weight: bold;
}

.circle-num {
  margin: 20px auto 0 auto;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background: #eeeeef;
  border-radius: 11px;
}

.m-t-10 {
  margin-top: 10px;
}

td.spec-info {
  overflow: hidden;
  position: relative;
  padding: 44px 0!important;

  .add-data {
    position: absolute;
    top: calc(100% - 30px);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out 0.1s;
    background: white;

    &.opened {
      position: absolute;
      top: 0;transition: all 0.3s ease-out 0.1s;
    }
    .add-data-title-block {
      border: 1px solid #dcdcdc;
      width: 100%;
      height: 30px;
      background: linear-gradient(to bottom,#fbfbfb 0,#e1e1e1 100%);
      .add-data-title {
        line-height: 30px;
        text-align: center;
        display: inline-block;
        font-weight: bold;
      }
      .add-data-toggle {
        width: 28px;
        height: 28px;
        line-height: 30px;
        float: right;
        background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
        cursor: pointer;
      }
    }
  }
}

.bundledetails-tab-content .row {
  margin-left: 0;
  margin-right: 0;
}

#product .select-container {
    position: relative;
    background-color: #fff;
    -ms-border-radius: 3px 3px;
    border-radius: 3px 3px;
    float: right;
    width: 305px;
    

}

 #product .select-container .dropdown-icon {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #c2dcf5;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #004ea3;
    text-align: left;
    top: 0;
    border-radius: 0 3px 3px 0;
    right: -1px;
    background-image: none;
    text-align: center;
    pointer-events: none
}

#product .select-container .dropdown-icon:after {
    content: 'Llamadas a: ';
    height: 100%;
    width: 103px;
    z-index: 10;
    position: absolute;
    display: inline-block;
    margin-top: 0;
    background: none;
    left: 0;
    top: 0;
    padding: 5px;
    padding-right: 0;
}

#product .select-container select {
    height: 32px;
    font-size: 15px;
    width: 100%;
    padding: 0 10px;
    color: #030303;
    font-weight: normal;
    border: none;
    background-color: #d4e2f0;
    outline: none;
    padding-left: 100px;
    font-weight: bold;
    font-size: 15px;
    color: #004ea3;
}
#product .select-container select option {
  background: none;
}
#product #mobile_tab h2 {
  float: none;
}
.hide {
  display: none !important;
}

// tabs - details page
#product .tab-sticker {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
   align-items: center;
}
.panel-default > .panel-heading {
  background: none;
  border: none;
      border-bottom: 1px solid #b6b6b6;
}

.panel {
  border: 0;
}
.panel-body {
  padding: 0;
}
.tabsMobile #provider_summary, .tabsMobile .tab-content{
  width: 100%!important;
}
#product .tab-sticker .tab-sticker-title {
  font-weight: bold;
}
#product .tab-sticker .monthly-cost-price {
  font-weight: bold;
}
#product .bundledetails-tab-content h3 {
  font-weight: bold
}
#product  .cost-breakdown-col dd, #product #cost_breakdown_tab #total_first_year_cost {
      font-weight: bold;
    color: #666;
    font-size: 26px;
}

// table - compare page