.pps,
.icon,
.pps:after,
.pps:before {
    background: url('/assets/images/product-page-sprite.png') no-repeat 0 0
}

.crp {
    background: url('/assets/images/customer-reviews-sprite.png?v=4') no-repeat 0 0
}

#header_responsive .nav-top-section,
#header_responsive .search {
    display: none
}

#header_responsive #top_nav li {
    display: none
}

#header_responsive #top_nav li#nav_recently_viewed {
    display: block
}

#header_responsive #top_nav #nav_recently_viewed .viewed-item {
    display: inline-block
}


#product .upload-icon,
#product .download-icon {
    display: inline-block;
    width: 46px;
    height: 46px;
    float: left;
    margin-right: 10px;
    clear: both
}

#product .download-icon {
    background-position: -492px -125px
}

#product .upload-icon {
    background-position: -492px -79px
}

#product .mobile-logo {
    display: inline-block;
    width: 27px;
    height: 49px;
    background-position: -359px -121px
}

#product .nav-tabs li {
	position: relative;
	z-index: 1;
    display: block;
    height: 127px;
    width: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f7f8ff;
    -webkit-box-shadow: 5px -3px 5px 0 rgba(50, 50, 50, .2);
    -ms-box-shadow: 5px -3px 5px 0 rgba(50, 50, 50, .2);
    box-shadow: 5px -3px 5px 0 rgba(50, 50, 50, .2);
    margin-bottom: -5px;
    *border: 1px solid #cecece;
}
#product .nav-tabs li.active {
	background: #fff;
} 

#product .mobile-only {
    display: none!important
}

#header_banner #header_responsive #nav_recently_viewed.menu-expanded #recently_viewed_container {
    right: -1px
}

#product .centered-container:before {
    content: '';
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 100%;
    vertical-align: middle
}

#product .centered {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle
}

#product .note {
    width: 100%;
    margin-top: 10px;
    float: left;
    clear: both;
    text-align: center;
    font-size: 11px
}

#product {
    padding: 60px 10px
}

#product .tab-sticker-content-container,
#product #customer_reviews_container .tab-sticker-content-container,
#product #mobile_cta,
#product #customer_reviews_summary .customer-comments li {
    display: none
}

#product .hint-icon {
    display: block;
    width: 17px;
    height: 17px
}

#product .tooltip-content {
    width: 250px;
    font-size: 12px!important
}

#product .bundledetails-tab-content h2 {
	font-weight: bold;
    margin: 16px 0 20px;
    margin-top: 0;
    float: left;
}

#product .bundledetails-tab-content table {
    width: 100%;
    margin-bottom: 10px
}

#product .bundledetails-tab-content th.daytime,
#product .bundledetails-tab-content th.evening,
#product .bundledetails-tab-content th.weekend {
    width: 72px
}

#product .bundledetails-tab-content th,
#product .bundledetails-tab-content td {
    padding: 5px 10px;
    vertical-align: middle;
    text-align: left;
    border: none
}

#product .bundledetails-tab-content th {
    font-size: 14px;
    padding: 11px 6px 10px;
    border-left-style: none;
    border-top-style: solid
}

#product .bundledetails-tab-content th+th,
#product .bundledetails-tab-content td+td {
    text-align: center;
    border-left-style: solid
}

#product .deal-title {
    font-size: 25px;
    margin: 10px 0;
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
    height: 51px
}

#product .deal-title.no-goto {
    text-decoration: none
}

#product #title-goto {
    float: right;
    text-align: right;
    position: relative;
    top: -15px
}

#product #back_to_results .search-again {
    display: none
}

#product #back_to_results .search-again,
#product #back_to_results .back {
    color: #fff;
    text-decoration: underline
}

#product #tabs_divider {
    position: absolute;
    top: 133px;
    z-index: 10;
    width: 100%;
    height: 1px;
    -webkit-box-shadow: 0 -5px 2px 1px rgba(50, 50, 50, .2);
    -ms-box-shadow: 0 -5px 2px 1px rgba(50, 50, 50, .2);
    box-shadow: 0 -5px 2px 1px rgba(50, 50, 50, .2)
}

#product #tabs_divider:after {
    content: '';
    background-color: #fff;
    width: 100%;
    height: 7px;
    display: block;
    position: relative;
    top: -2px;
    z-index: 15
}

#product_hero {
    background: #112f78 url('/assets/images/product-hero.jpg') no-repeat scroll 0 50%;
    height: 280px;
    position: absolute;
    width: 100%;
    z-index: -20;
    -moz-background-position-y: 100%;
    -o-background-position-y: 100%;
    background-position-y: 100%
}

#product #back_to_results {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-bottom: 0;
    font-weight: normal
}

#product #back_to_results a.goto-visit-provider {
    height: 20px;
    width: 200px;
    text-align: center;
    line-height: 27px
}

#product #back_to_results p.goto-phonenumber {
    color: #fff;
    text-align: center;
    position: relative
}

#product #back_to_results #bt_retentions_anchor {
    clear: both;
    margin-top: 10px;
    float: right;
    color: #fff
}

#product #back_to_results #bt_retentions_anchor a {
    color: #fff;
    text-decoration: underline
}

#product .product-special-offers {
    float: left;
    clear: left;
    border-top: 1px dashed #c9c9c9;
    width: 100%
}

#product .product-special-offers .special-offers-item {
    float: left;
    width: 31%;
    margin: 0 0 10px 10px
}

#product .product-special-offers .special-offers-item img {
    float: left;
    margin-right: 10px
}

#product .product-special-offers .special-offers-item .special-offers-text {
    display: table-cell;
    height: 70px;
    vertical-align: middle
}

#product #summary_tab #key_features {
    float: left;
    display: block;
    padding: 10px 0 10px;
    border-top: 1px dashed #c8c8c8;
    clear: both
}

#product #summary_tab #key_features li {
    width: 50%;
    height: 40px;
    float: left;
    margin-bottom: 10px
}

#product #summary_tab #key_features .hint-icon {
    display: inline-block;
    margin-left: 10px
}

#product #summary_tab #key_features .key-features-text {
    display: table-cell;
    vertical-align: middle;
    height: 40px
}

#product #summary_tab #key_features .icon {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    float: left
}

#product #summary_tab #key_features .icon.hd {
    background-position: -40px 0
}

#product #summary_tab #key_features .icon.broadband {
    background-position: -80px 0
}

#product #summary_tab #key_features .icon.channels,
#product #summary_tab #key_features .icon.tv {
    background-position: -120px 0
}

#product #summary_tab #key_features .icon.costs {
    background-position: -160px 0
}

#product #summary_tab #key_features .icon.downloads {
    background-position: -200px 0
}

#product #summary_tab #key_features .icon.wifi {
    background-position: -240px 0
}

#product #summary_tab #key_features .icon.hardware {
    background-position: -280px 0
}

#product #summary_tab #key_features .icon.contract {
    background-position: -320px 0
}

#product #summary_tab #key_features .icon.security {
    background-position: -360px 0
}

#product #summary_tab #key_features .icon.customer-service {
    background-position: 0 -40px
}

#product #summary_tab #key_features .icon.espn {
    background-position: -40px -40px
}

#product #summary_tab #key_features .icon.installation {
    background-position: -80px -40px
}

#product #summary_tab #key_features .icon.sky-movies {
    background-position: -120px -40px
}

#product #summary_tab #key_features .icon.sky-sports {
    background-position: -160px -40px
}

#product #summary_tab #key_features .icon.phone {
    background-position: -200px -40px
}

#product #summary_tab #key_features .icon.mobile {
    background-position: -80px -80px
}

#product #upsell {
    margin: 10px 0 10px 0;
    font-family: vag-rounded;
    background-color: #f8f8f8;
    display: block;
    overflow: hidden;
    color: #1f4685;
    border: 1px solid #c9c9c9
}

#product #upsell #upsell_image {
    height: 78px;
    float: left;
    width: 90px;
    background: #f8f8f8 10px 0 no-repeat
}

#product #upsell #upsell_lead {
    background-color: #f8f8f8;
    font-size: 16px;
    text-align: center;
    width: 183px;
    padding: 10px 10px 5px 10px;
    height: 57px;
    float: left;
    display: block
}

#product #upsell #upsell_points {
    background-color: #f8f8f8;
    line-height: 125%;
    width: 223px;
    position: relative;
    padding: 5px 10px 15px 10px;
    height: 57px;
    float: left;
    display: block;
    font-size: 14px
}

#product #upsell #upsell_price {
    padding: 10px 10px 10px 10px;
    height: 58px;
    float: left;
    display: block;
    background-color: #e9e9e9;
    color: #333;
    width: 101px;
    position: relative;
    text-align: center;
    font-size: 14px
}

#product #upsell #upsell_price #main_price {
    font-size: 23px;
    line-height: 125%
}

#product #upsell #upsell_cta {
    float: left;
    width: 228px;
    text-align: center;
    margin: 20px 20px 0 20px
}

#product #upsell_details_mobile {
    display: none
}

#product #upsell #upsell_tab {
    display: none
}

.star-rating.small {
    float: none;
    height: 16px;
    width: 91px
}

.star-rating.small.stars-00 {
    background-position: -180px -16px
}

.star-rating.small.stars-05 {
    background-position: -161px 0
}

.star-rating.small.stars-10 {
    background-position: -161px -16px
}

.star-rating.small.stars-15 {
    background-position: -143px 0
}

.star-rating.small.stars-20 {
    background-position: -143px -16px
}

.star-rating.small.stars-25 {
    background-position: -125px 0
}

.star-rating.small.stars-30 {
    background-position: -125px -16px
}

.star-rating.small.stars-35 {
    background-position: -106px 0
}

.star-rating.small.stars-40 {
    background-position: -106px -16px
}

.star-rating.small.stars-45 {
    background-position: -87px 0
}

.star-rating.small.stars-50 {
    background-position: -87px -16px
}

.stars-stacked.small {
    background-position: -125px -16px
}

.stars-stacked.small.top {
    width: 53px;
    position: relative
}

.stars-stacked.small.bottom {
    width: 34px;
    position: relative;
    top: 16px;
    left: 9px
}

.star-rating.medium {
    background-position: 0 -67px;
    height: 23px;
    margin-right: 5px;
    width: 129px
}

.star-rating.medium.stars-00 {
    background-position: -125px -67px
}

.star-rating.medium.stars-05 {
    background-position: -100px -43px
}

.star-rating.medium.stars-10 {
    background-position: -100px -67px
}

.star-rating.medium.stars-15 {
    background-position: -75px -43px
}

.star-rating.medium.stars-20 {
    background-position: -75px -67px
}

.star-rating.medium.stars-25 {
    background-position: -50px -43px
}

.star-rating.medium.stars-30 {
    background-position: -50px -67px
}

.star-rating.medium.stars-35 {
    background-position: -25px -43px
}

.star-rating.medium.stars-40 {
    background-position: -25px -67px
}

.star-rating.medium.stars-45 {
    background-position: 0 -43px
}

.star-rating.medium.stars-50 {
    background-position: 0 -67px
}

#product #phone_tab .skinned-select {
    background-position: 0 -136px;
    display: block;
    height: 39px;
    width: 237px
}

#product #phone_tab .skinned-select .skinned-select-selected {
    float: left;
    line-height: 42px;
    text-indent: 20px;
    width: 150px;
    display: block
}

#product #phone_tab .skinned-select select {
    display: inline-block;
    height: 40px;
    margin-left: -145px;
    margin-right: 0;
    width: 223px;
    opacity: 0;
    filter: alpha(opacity=0)
}

#product #phone_tab .skinned-select #phone_tab #additional_information {
    word-wrap: break-word
}

#product #phone_tab #additional_information li {
    padding: 5px 0;
    clear: both;
    list-style: disc outside none
}

#product #phone_tab .compact-table th+th,
#product #phone_tab .compact-table td+td {
    border-left: none;
    text-align: left
}

#product #phone_tab .compact-table td {
    padding-top: 6px;
    padding-bottom: 6px
}

#product #phone_tab .lightbulb {
    display: none
}

#product #phone_tab #phonetab_last_updated {
    margin: 0;
    float: left;
    font-size: 11px;
    clear: both
}

#product #phone_tab .dropdown,
#product #tab_stickers .tab-sticker-item,
#product #tab_stickers {
    position: relative
}

#product #phone_tab .dropdown .btn {
    background-color: #d4e2f0;
    border: 1px solid #c2dcf5;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #004ea3;
    text-align: left
}

#product #phone_tab .dropdown-menu {
    position: absolute;
    z-index: 100;
    background-color: #fff;
    -moz-min-width: 100%;
    -ms-min-width: 100%;
    -o-min-width: 100%;
    -webkit-min-width: 100%;
    min-width: 100%;
    border: 1px solid #ccc;
    right: 1px;
    text-align: right
}

#product #phone_tab .dropdown-menu .menu-item {
    padding: 5px;
    cursor: pointer
}

#product #phone_tab .dropdown-menu .menu-item:hover {
    background-color: #e2e9f4
}

#product #phone_tab .dropdown-menu .menu-item.selected,
#product #product_cost .goto small,
#product .tab-sticker .first-year-cost,
#product #product_cost .goto-phonenumber .goto-phonenumber-number {
    font-weight: bold
}

#product #phone_tab .dropdown .caret {
    display: inline-block;
    width: 11px;
    height: 8px;
    background-position: -90px -467px;
    margin-left: 10px;
    position: absolute;
    right: 10px;
    top: 20px
}

#product #mobile_tab {
    margin-top: 25px
}

#product #mobile_tab h5 {
	font-weight: bold;
    float: left
}

#product #mobile_tab h3 {
    margin-bottom: 15px
}

#product #mobile_tab .row {
    border-bottom: 1px dotted #c9c9c9;
    padding: 10px 0
}

#product #mobile_tab .key {
    display: inline-block;
    font-weight: normal;
    vertical-align: top;
    width: 150px
}

#product #mobile_tab .key h5 {
    font-weight: normal
}

#product #mobile_tab .value {
    display: inline-block;
    vertical-align: top;
    width: 150px
}

#product #mobile_tab .description {
    display: inline-block;
    vertical-align: top;
    width: 320px
}

#product #tab_contents #customer_ratings_tab .has-number {
    margin-top: 0
}

#product #tv_channels_tab .channel-heading {
    border: 1px solid #c9c9c9;
    height: 30px;
    margin-bottom: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding-right: 10px;
    background: #f1f1f1;
    background: -moz-linear-gradient(top, #fefefe 0, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #fefefe 0, #f1f1f1 100%);
    background: -o-linear-gradient(top, #fefefe 0, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #fefefe 0, #f1f1f1 100%);
    background: linear-gradient(to bottom, #fefefe 0, #f1f1f1 100%)
}

#product #tv_channels_tab .channel-heading h4 {
    font-size: 18px;
    float: left;
    margin: 0;
    padding: 7px 0 0 20px;
    width: 300px
}

#product #tv_channels_tab .channel-content {
    zoom: 1
}

#product #tv_channels_tab .channel-content table {
    margin-bottom: 20px
}

#product #tv_channels_tab .channel-content table tr td {
    border: none;
    padding: 7px 6px;
    text-align: center
}

#product #tv_channels_tab .channel-content table tr {
    font-weight: 700
}

#product #tv_channels_tab .channel-content table tr td.separator .dotted-line {
    border-top: 1px dotted #c9c9c9
}

#product #product_cost:hover {
    background-color: #e1eef5
}

#product #product_cost h3 {
    font-size: 26px;
    margin: 10px 0
}

#product #product_cost .product-cost-price-info span,
#product #product_cost .product-cost-price-info {
    display: block
}

#product #product_cost .product-cost-price-info .product-cost-total-price {
    display: block;
    font-size: 45px;
    line-height: 45px;
    font-weight: 900;
}

#product #product_cost .product-cost-price-info small {
    display: block;
    font-size: 14px
}

#product #product_cost .product-cost-price-info .product-cost-new-line,
#product #product_cost .product-cost-price-info .product-cost-monthly-line-rental {
    margin: 15px 0 0;
    font-size: 14px
}

#product #product_cost .goto-packagetext {
    margin-bottom: 15px
}

#product #product_cost .goto-cta {
    display: block;
    font-size: 18px;
    margin: 5px 0 0
}

#product #product_cost .goto-providername {
    display: block;
    font-size: 18px;
    color: #ff5400
}

#product #product_cost .goto-visit-provider {
    margin-top: 10px;
    display: block
}

#product #product_cost .goto-phonenumber-hours {
    display: block;
    font-size: 11px
}

#product #what_happens_next h4 {
    color: #333;
    font-size: 25px;
    margin: 0 0 15px;
    text-align: left
}

#product #what_happens_next hr {
    border-top: solid 1px #dbdbdb;
    position: relative
}

#product #what_happens_next li {
    clear: both
}

#product #what_happens_next .bullet {
    background-position: -245px -79px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    height: 34px;
    line-height: 36px;
    text-align: center;
    width: 34px;
    margin: 0 10px 10px 0;
    position: relative;
    top: 4px
}

#hint_unlimited_broadband {
    width: 785px
}

#hint_unlimited_broadband h1 {
    font-size: 30px
}

#hint_unlimited_broadband ul {
    margin-left: 15px;
    margin-top: 15px
}

#hint_unlimited_broadband p {
    margin-top: 15px
}

#hint_unlimited_broadband p,
#hint_unlimited_broadband ul li {
    line-height: 19px
}

#hint_unlimited_broadband ul li {
    color: #ff5400;
    list-style: disc inside
}

#product .tab-sticker-title-container {
    width: 100%;
    height: 100%;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-align: center;
    color: #214883;
    // background-color: #f7f8ff;
    text-decoration: none;
    cursor: pointer
}

#product #tab_sticker_list {
    white-space: nowrap
}

#product .title-part,
#product .usage {
    display: block;
    font-weight: bold;
    font-size: 15px;
    white-space: normal
}

#product .tab-sticker-item:nth-child(1) {
    z-index: 9
}

#product .tab-sticker-item:nth-child(3) {
    z-index: 8
}

#product .tab-sticker-item:nth-child(5) {
    z-index: 7
}

#product .tab-sticker-item:nth-child(7) {
    z-index: 6
}

#product .tab-sticker-item:nth-child(9) {
    z-index: 5
}

#product .tab-sticker-item:nth-child(11) {
    z-index: 4
}

#product .tab-sticker-item:nth-child(13) {
    z-index: 3
}

#product .tab-sticker-item:nth-child(15) {
    z-index: 2
}

#product .tab-sticker-item.active {
    background-color: #fff;
    z-index: 11;
    border-left: #e9e7e7 1px solid;
    margin-bottom: -1px
}

#product .tab-sticker-item.active .tab-sticker {
    background-color: transparent
}

#product .tab-sticker .monthly-cost-price-note,
#product .tab-sticker .contract {
    display: block
}

#product .tab-sticker img {
    display: inline-block;
    height: 75px
}

#product .tab-sticker .star-rating {
    display: inline-block
}

#product .tab-sticker .tab-sticker-title {
    margin: 10px 0
}

#product .tab-sticker .monthly-cost-price {
    display: block;
    font-size: 26px
}

#product .tab-sticker .stars-stacked.small.bottom {
    display: block
}

#product .tab-sticker .star-wrapper {
    height: 34px
}

#product .broadband-logo {
    display: inline-block;
    height: 50px;
    width: 100px;
    background-position: -316px -69px;
    margin-bottom: 10px
}

#product .download-speed {
    position: relative;
    top: 9px;
    font-size: 20px;
    font-weight: bold
}

#product .tv-logo {
    display: inline-block;
    height: 53px;
    width: 63px;
    background-position: -260px -117px;
    margin: -4px 0 10px
}

#product .channel-count {
    top: 19px;
    position: relative;
    font-size: 20px;
    font-weight: bold
}

#product .phone-logo {
    display: inline-block;
    height: 52px;
    width: 27px;
    background-position: -328px -117px;
    margin: -4px 0 8px
}

#product #product_cost {
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #c9c9c9;
    text-align: center;
    font-size: 18px;
    float: right;
    width: 30%;
    padding: 50px 20px;
    margin-top: 40px
}

#product .bundledetails-tab-content {
    border-top: 9px solid #0959a5;
    clear: both;
    display: block;
    width: 630px;
    border-top: none;
    width: auto
}

#product .product-special-offers,
#product #summary_tab #key_features {
    clear: none;
    border: none
}

#product #bundledetails small {
    font-size: 11px;
    margin-top: 20px;
    display: block;
    margin-top: 0
}

#product #product_cost .product-cost-link {
    color: #333;
    display: block;
    text-decoration: none;
    padding: 25px 15px;
    color: #214883
}

#product #product_cost .click-btn.large {
    font-size: 22px;
    height: 50px;
    padding-left: 15px;
    padding-right: 26px;
    margin: 10px 0;
    -moz-min-width: 80%;
    -ms-min-width: 80%;
    -o-min-width: 80%;
    -webkit-min-width: 80%;
    min-width: 80%
}

#product #product_cost .goto-phonenumber {
    margin-top: 20px;
    clear: both;
    display: block;
    font-size: 14px;
    margin: 0
}

#product #product_cost.cost-panel-no-cta:hover {
    background: #f8f8f8
}

#product #product_cost.cost-panel-no-cta .goto-phonenumber .goto-phonenumber-big-icon {
    display: block;
    height: 93px;
    width: 160px;
    background-position: 0 -172px;
    margin: 0 auto 15px
}

#product #product_cost.cost-panel-no-cta .goto-phonenumber .goto-phonenumber-cta {
    font-size: 16px
}

#product #product_cost.cost-panel-no-cta .goto-phonenumber h6 {
    display: block;
    font-size: 36px;
    font-weight: bold;
    padding-top: 5px
}

#product #customer_ratings_tab {
    clear: both;
    padding-top: 20px
}

#product #customer_ratings_tab #customer_reviews_container {
    float: left;
    margin: 0 0 10px;
    width: 100%;
    background-color: #ebf4f9;
    padding-top: 20px;
    margin: 0 0 10px
}

#product #customer_ratings_tab #customer_reviews_container .contract {
    display: block
}

#product #customer_ratings_tab #customer_reviews_container ul {
    width: 73%;
    float: left
}

#product #customer_ratings_tab #customer_reviews_container .tab-sticker {
    width: 27%;
    float: left;
    background-color: transparent;
    cursor: default
}

#product #customer_ratings_tab #customer_reviews_container .tab-sticker-title-container .star-rating {
    display: inline-block
}

#product #customer_ratings_tab .rating-container {
    border-bottom: 1px dashed #c9c9c9;
    font-size: 17px;
    font-weight: bold;
    height: 35px;
    line-height: 17px;
    margin-top: 8px;
    display: inline;
    width: 31%;
    float: left;
    padding: 0 2% 0 0;
    border: none;
    margin: 8px 0
}

#product #customer_ratings_tab .rating-container .rating-label {
    float: right;
    font-size: 17px;
    margin: 5px 0 0;
    width: 410px;
    float: none
}

#product #customer_ratings_tab .rating-container .rating-label h5 {
    display: inline;
    color: #333;
    font-size: 15px;
    color: #214883
}

#product #customer_ratings_tab .rating-container .star-rating {
    float: none;
    display: block
}

#product #customer_ratings_tab .rating-container .rating-label .tooltip-root {
    float: right;
    margin-right: 75px;
    *margin-top: -15px;
    display: none
}

#product #customer_ratings_tab .rating-divider {
    width: 98%;
    margin: 20px 1%;
    border: 2px #c5cddf inset;
    float: left;
    border: 2px rgba(197, 205, 223, .4) inset;
    clear: both;
    *display: none
}

#product #customer_ratings_tab #customer_reviews_summary {
    float: left;
    margin-top: 10px;
    width: 100%;
    margin: 10px 0
}

#product #customer_ratings_tab #customer_reviews_summary .customer-comments {
    width: 45%;
    float: left
}

#product #customer_ratings_tab #customer_reviews_summary .customer-comments .happy,
#product #customer_ratings_tab #customer_reviews_summary .customer-comments .unimpressed {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10%
}

#product #customer_ratings_tab #customer_reviews_summary .customer-comments .happy {
    background-position: -424px -139px;
    left: -14.1%
}

#product #customer_ratings_tab #customer_reviews_summary .customer-comments .unimpressed {
    background-position: -390px -139px;
    left: 106%
}

#product #customer_ratings_tab .review:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent
}

#product #customer_ratings_tab #good_comments .review:first-child,
#product #customer_ratings_tab #bad_comments .review:first-child {
    display: block
}

#product #customer_ratings_tab #bad_comments ul,
#product #customer_ratings_tab .rating-container .large-star-rating,
#product #customer_ratings_tab #overall_customer_reviews_container {
    float: left
}

#product #customer_ratings_tab #good_comments .review::before {
    left: -2.5%;
    border-right: 10px solid #214883
}

#product #customer_ratings_tab #good_comments {
    text-align: left;
    padding: 0 1% 0 4%
}

#product #customer_ratings_tab #good_comments ul {
    float: right
}

#product #customer_ratings_tab #bad_comments .review::before {
    left: 100%;
    border-left: 10px solid #214883
}

#product #customer_ratings_tab #bad_comments {
    text-align: right;
    padding: 0 4% 0 1%
}

#product #customer_ratings_tab #customer_reviews_container .customer-comments ul {
    width: 90%
}

#product #customer_ratings_tab #customer_reviews_summary .review {
    border-bottom: 1px dashed #ccc;
    line-height: 20px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #214883;
    color: #fff;
    position: relative
}

#product #what_happens_next ol li {
    display: table;
    width: 100%;
    text-align: left;
    height: 50px
}

#product #package_video,
#product #package_info {
    float: left
}

#product #package_video_info {
    font-size: 20px;
    text-align: center;
    width: 49%;
    float: left;
}

#product #package_video {
    margin-right: 20px
}

#product #package_info {
    width: 38%;
    margin-left: 2%;
    text-align: left
}

#product #package_info h4 {
    font-size: 25px
}

#product #what_happens_next {
    margin: -1px 0 20px;
    text-align: center;
    position: relative;
    float: right;
    max-width: 430px
}

#product #what_happens_next li:before {
    content: '';
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 100%;
    vertical-align: middle
}

#product #what_happens_next p {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    vertical-align: middle;
    width: 87%
}

#product #deal_highlights {
    width: 66%;
    float: left
}

#tab_contents {
    margin-bottom: 25px;
    position: relative
}

#provider_details {
    position: relative;
    width: 100%
}

#provider_summary {
    clear: both;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    float: left
}

#product .goto.cta {
    float: right;
    text-align: center;
    margin-top: 20px
}

#product .button-chevron {
    color: transparent;
    position: absolute
}

#product .goto.cta .click-btn {
    width: 200px
}

#product .goto-phonenumber-number:hover {
    text-decoration: none
}

#product .bundledetails-tab-content #key_features .tooltip-open,
#product .bundledetails-tab-content #key_features .tooltip-hover-open {
    color: #ff5400;
    text-decoration: underline
}

#product .goto-phonenumber .goto-phonenumber-number {
    background-image: none
}

#product .phone-logo-small {
    display: inline-block;
    height: 33px;
    width: 17px;
    background-position: -470px -3px;
    position: relative;
    top: 10px
}

#product #product_cost .phone-logo-small {
    background-position: -288px -77px
}

#product .cta-call-only {
    font-size: 20px
}

#product .cta-call-only .phone-number-responsive,
#product .cta-call-only .phone-logo-large {
    display: none
}

#product .cta-call-only a {
    font-weight: bold
}

#product .cta-call-only .phone-logo-small {
    background-position: -470px -3px
}

#product #deal_title .cta-call-only {
    color: #fff;
    margin-top: 27px
}

#product #deal_title .cta-call-only .phone-logo-small {
    background-position: -470px -3px
}

#product #category_list li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 2px 10px;
    font-size: 15px
}

#product .channel-list .channel-name,
#product .channel-list {
    display: block
}

#product .channel-list li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-align: center;
    margin: 10px 15px;
    width: 100px
}

#product .section-link {
    cursor: pointer;
    color: #494949
}

#product .section-link:hover {
    cursor: pointer
}

#product .section-link.active {
    text-decoration: underline;
    font-weight: bold
}

#product #bundledetails,
#product #bundledetails #cost_breakdown_tab dd,
#product #bundledetails #cost_breakdown_tab dt {
    float: left
}

#product #bundledetails {
    width: 100%
}

#product #bundledetails #cost_breakdown_tab dd {
    display: block;
    clear: left
}

#product #bundledetails #cost_breakdown_tab .cost-breakdown-col {
    float: left;
    position: relative;
    top: -20px;
    width: 219px;
    margin: 2% 10px 0 0
}

#product #bundledetails #cost_breakdown_tab #cost_info {
    margin-right: 0;
    width: 24%;
    top: 0;
    float: right;
    background-color: #f8f8f8;
    border: 1px solid #666
}

#product #bundledetails #cost_breakdown_tab #cost_info h3 {
    text-align: center;
    margin: 5% 0;
    line-height: 1
}

#product #bundledetails #cost_breakdown_tab .cost-breakdown-col:first-child {
    padding-left: 0
}

#product #bundledetails #cost_breakdown_tab .monthly-line-rental {
    display: block
}

#product #bundledetails #cost_breakdown_tab .cost-breakdown-col dd,
#product #cost_breakdown_tab #total_first_year_cost {
    font-size: 28px;
    font-weight: bold;
    color: #666
}

#product #bundledetails #cost_breakdown_tab dt {
    position: relative;
    top: 10px;
    font-size: 15px;
    margin-left: 5px
}

#product #bundledetails #cost_info aside {
    padding: 0 6% 6%
}

#product .bundledetails-tab-content h4 {
	font-weight: bold;
    margin: 16px 0 10px;
    font-size: 25px;
    color: #666
}

#product #bundledetails #cost_breakdown_tab #cost_info .monthly-line-rental {
    display: inline-block;
    font-weight: bold
}

#product #bundledetails #broadband_tab #broadband_speeds {
    width: 30%;
    float: left;
    padding-right: 3%
}

#product #bundledetails #broadband_tab #broadband_usage {
    width: 60%;
    float: right;
    padding-left: 6%;
    border-left: 1px solid #b6b6b6
}

#product .bundledetails-tab-content h3 {
    margin: 16px 0 10px;
    font-size: 18px;
    color: #0d67b3;
    color: #494949;
    margin: 30px 0;
    font-size: 25px
}

#product #broadband_tab #broadband_speeds .speed-type {
    font-size: 15px
}

#product #broadband_tab .broadband-info,
#product #phone_tab section {
    margin-bottom: 30px
}

#product #phone_tab #call_rate_select {
    position: absolute;
    top: -15px;
    right: 0
}

#product #phone_tab table {
    width: auto
}

#product #phone_tab table th,
#product #phone_tab table td {
    border: none
}

#product #phone_tab table th,
#product #phone_tab table td {
    padding-right: 40px
}

#product #phone_tab .tooltip-hover-open:after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    right: -24px;
    top: -1px;
    background-position: -22px 0
}

#product #phonetab_billing_options {
    width: 45%;
    float: left;
    margin-right: 5%
}

#product #phonetab_optional_landline_features {
    width: 40%;
    float: left;
    padding-left: 5%;
    border-left: 1px solid #b6b6b6
}

#product #phone_tab .tooltip-content {
    // margin-left: 45px
    position: absolute;
    top: 30px;
    left: -60px;
    word-break: break-all;
}

#product .tooltip-hover-open {
    color: #494949;
    background-image: none
}

#product #phone_tab {
    margin-top: 25px
}

#product #phone_tab section h3 {
    margin: 0 0 30px
}

#product #phone_tab section h4,
#product #customer_ratings_tab h2 {
    font-size: 18px
}

#product #phone_tab .dropdown .btn {
    width: 275px
}

#product #call_rate_select:after {
    content: '';
    clear: both
}

#product hr {
    border-style: solid
}

#product #broadband_speeds .info-container {
    float: left;
    width: 80%
}

#product #broadband_speeds h4 {
    margin-top: 4px
}

#product #cost_breakdown_tab p,
#product #provider_title h1 p.provider-title {
    margin-bottom: 10px
}

#product #cost_breakdown_tab .line-rental-toggle {
    display: inline-block;
    float: left;
    width: 23px;
    height: 23px;
    overflow: visible;
    border: 1px solid;
    position: relative;
    margin: 10px;
    cursor: pointer
}

#product #cost_breakdown_tab .has-introductory-linerental .line-rental-toggle {
    margin: 17px 10px
}

#product #cost_breakdown_tab .line-rental-toggle.line-rental-included span {
    display: inline-block;
    height: 26px;
    width: 32px;
    background-position: -386px -42px;
    position: relative;
    top: -3px;
    left: -3px
}

#product #cost_breakdown_tab .line-rental-toggle.line-rental-excluded span {
    display: inline-block;
    height: 26px;
    width: 30px;
    background-position: -357px -42px;
    position: relative;
    top: -3px;
    left: -3px
}

#product .tab-sticker-item.active {
    top: -8px;
    padding-bottom: 10px
}

#product #deal_title {
    top: -35px;
    position: relative
}

#product .tab-sticker-item {
    position: absolute;
    top: 1px;
    height: 130px;
    margin-right: -4px;
    overflow: hidden;
    width: 16.2%;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-box-shadow: 5px -3px 5px 0 rgba(50, 50, 50, .2);
    -ms-box-shadow: 5px -3px 5px 0 rgba(50, 50, 50, .2);
    box-shadow: 5px -3px 5px 0 rgba(50, 50, 50, .2);
    margin-bottom: -5px;
    *border: 1px solid #cecece;
    *border-bottom: none
}

#tab_contents {
    // padding-top: 130px;
}

#product #more_info {
    display: none
}

#product #bt_retentions_cta {
    border: 1px solid #cbcbcb;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 18px;
    background: #fef5d4
}

#product #bt_retentions_cta span {
    font-size: 20px;
    line-height: 30px
}

#product #bt_retentions_cta p {
    font-size: 14px;
    color: #25488a;
    width: 90%;
    margin-top: 8px;
    margin-bottom: 12px
}

#product #bt_retentions_cta p span {
    font-weight: bold;
    visibility: visible
}

#product .tab-sticker-item .more-info,
#product .tab-sticker-item .less-info,
#product .tab-sticker-item .expander {
    display: none
}

#product .tab-sticker-item .cost_breakdown .tab-sticker-title+div {
    margin-top: -6px
}

#product .goto-phonenumber {
    display: none
}

#product #package_video {
    width: 100%
}

@media only screen and (max-width:599px) {
    #header_banner {
        z-index: auto
    }
    #header_banner #header_responsive li#nav_recently_viewed {
        top: 0
    }
    #header_banner #header_responsive .compact_menu {
        display: none
    }
    #header_responsive #top_nav li#nav_recently_viewed {
        display: block
    }
    #header_banner #organisation .phone-support {
        display: none
    }
    .mobile-only {
        display: block!important
    }
    .goto-phonenumber.click-btn {
        background-color: #36bc4d;
        border-color: #36bc4d;
        height: 40px
    }
    .goto-phonenumber.click-btn:hover {
        background-color: #6ac77a
    }
    .goto-phonenumber-number {
        color: #fff
    }
    #product {
        padding: 0
    }
    #product_hero {
        height: auto
    }
    #product #back_to_results {
        float: left;
        margin-right: 20px
    }
    #product h2.deal-title {
        font-size: 17px;
        padding: 0 5px;
        float: left;
        margin: 5px 0;
        height: auto;
        line-height: 20px
    }
    #product #deal_title .cta {
        display: none
    }
    #product #provider_summary .goto .cta {
        position: absolute
    }
    #product #back_to_results .back,
    #product #back_to_results .search-again {
        position: absolute;
        z-index: 1000;
        top: 0;
        display: inline-block;
        background: none;
        width: 64px;
        height: 50px;
        border: 1px #e1e1e1;
        border-style: none solid none none;
        -webkit-box-shadow: inset white -1px 1px 1px;
        -moz-box-shadow: inset white -1px 1px 1px;
        box-shadow: inset white -1px 1px 1px;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    }
    #product #back_to_results .back:after,
    #product #back_to_results .search-again:after {
        content: '';
        display: inline-block;
        width: 25px;
        height: 36px;
        color: #fff;
        border: none;
        cursor: pointer;
        text-decoration: none;
        background-position: -443px -1px;
        margin: 8px 20px
    }
    #product #back_to_results .back-text,
    #product #back_to_results .search-again-text {
        display: none
    }
    #product #back_to_results .back-text:before,
    #product #back_to_results .search-again-text:before {
        content: '';
        display: inline-block;
        height: 100%
    }
    #product .phone-tariff,
    #product #product_hero,
    #product #tabs_divider,
    #product_cost {
        display: none
    }
    #product #deal_title {
        background-color: #214883;
        float: left;
        width: 100%;
        top: 0;
        position: static
    }
    #product .tabs .tab-sticker-item {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 0;
        border: none;
        overflow: auto;
        border-bottom: 1px solid #b6b6b6;
        -ms-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        display: block
    }
    #product #tab_stickers li.active {
        margin: 0;
        background-color: inherit
    }
    // #product .tab-link {
    //     display: table;
    //     text-decoration: none
    // }
    // #product .tab-sticker {
    //     background-color: transparent;
    //     display: table-row;
    //     display: block;
    // }
    // #product .tab-sticker .tab-sticker-title-container,
    // #product .tab-sticker .tab-sticker-content-container {
    //     display: table-cell;
    //     vertical-align: middle
    // }
    #product .phone-logo-small {
        position: absolute;
        z-index: 10;
        left: 2%;
        top: 2px
    }
    #product .goto-phonenumber-cta {
        display: none
    }
    #product .goto-phonenumber {
        display: block
    }
    #product #tab_sticker_container {
        clear: both
    }
    #product .tab-sticker-item .expander {
        position: absolute;
        right: 15px;
        bottom: 13px;
        margin-top: -7px;
        display: inline-block;
        height: 7px;
        width: 10px;
        background-position: -91px -467px
    }
    #product .tab-sticker-item .more-info,
    #product .tab-sticker-item .less-info {
        right: 29px;
        position: absolute;
        bottom: 10px;
        text-align: right;
        color: #214883;
        text-decoration: underline;
        cursor: pointer;
        font-size: 15px
    }
    #product .tab-sticker-item .less-info,
    #product .tab-sticker-item.active .more-info {
        display: none
    }
    #product .tab-sticker-item.active .expander {
        background-position: -91px -457px
    }
    #product .tab-sticker .tab-sticker-title-container {
        width: 40%
    }
    #product .tab-sticker .tab-sticker-title-container .first-year-cost-container {
        display: none
    }
    #product .tab-sticker .tab-sticker-content-container {
        display: table-cell;
        width: 59%;
        text-align: left;
        height: 100%
    }
    #product .tab-sticker .tab-sticker-content {
        display: inline-block;
        vertical-align: middle;
        color: #424242;
        font-size: 13px;
        width: 98%
    }
    #product .tab-sticker .tab-sticker-content>span {
        display: block
    }
    #product .tab-sticker .tab-sticker-content-container li {
        display: block
    }
    #product .tab#product .goto.cta .goto-phonenumber-sticker .tab-sticker-title-container:first-child {
        margin-top: 10px
    }
    #product .tab-sticker .highlight {
        font-weight: bold
    }
    #product .tab-sticker .more {
        display: block
    }
    #product.page {
        width: 100%
    }
    #product .tabs {
        margin-bottom: 10px;
        position: relative
    }
    #product .tabs .tab-sticker-item {
        position: relative;
        top: 0;
        background: #feffff;
        background: -moz-linear-gradient(top, #feffff 0%, #fff 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffff), color-stop(100%, #fff));
        background: -webkit-linear-gradient(top, #feffff 0%, #fff 100%);
        background: -o-linear-gradient(top, #feffff 0%, #fff 100%);
        background: -ms-linear-gradient(top, #feffff 0%, #fff 100%);
        background: linear-gradient(to bottom, #feffff 0%, #fff 100%);
        // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#d2ebf9', GradientType=0)
    }
    #product #more_info {
        display: block
    }
    #product .tab-sticker-item .more-info,
    #product .tab-sticker-item .expander {
        display: block
    }
    #product #mobile_cta .has-number .product-cost-link {
        float: right
    }
    #product #mobile_cta .goto.cta .product-cost-link .click-btn {
        width: 99%;
        padding-left: 0;
        padding-right: 0;
        height: 40px
    }
    #product #mobile_cta .has-number .product-cost-link,
    #product #mobile_cta .has-number .goto-phonenumber {
        width: 49%;
        display: inline-block;
        padding-left: 0;
        padding-right: 0
    }
    #product #mobile_cta .has-number .goto-phonenumber {
        float: left
    }
    #product .goto.cta .goto-phonenumber .goto-phonenumber-number.click-btn {
        padding: 9px 15% 12px 17%;
        width: 79%
    }
    #product #mobile_cta {
        float: left;
        display: block;
        padding: 5px 0;
        width: 100%;
        z-index: 20;
        clear: both;
        background-color: #214883
    }
    #product #mobile_cta .goto.cta {
        margin-top: 0;
        float: left;
        width: 98%;
        padding: 0 1%
    }
    #product #mobile_cta .cta-call-only .goto-phonenumber-number.phone-number-desktop {
        display: none
    }
    #product #mobile_cta .cta-call-only .goto-phonenumber-cta,
    #product #mobile_cta .cta-call-only .phone-number-responsive {
        display: block;
        color: #fff
    }
    #product #mobile_cta .goto.cta.cta-call-only {
        display: block;
        width: 94%;
        background-color: #36bc4d;
        border-color: #36bc4d;
        height: 60px;
        margin: 0 2%;
        -ms-border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -khtml-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px
    }
    #product #mobile_cta .cta-call-only .phone-logo-large {
        display: block;
        float: left;
        background-position: -162px -172px;
        height: 52px;
        width: 89px;
        margin-top: 3px
    }
    #product #mobile_cta .cta-call-only .goto-phonenumber-cta {
        font-size: 16px;
        padding-top: 7px
    }
    #product #mobile_cta .cta-call-only h6 a {
        font-size: 32px
    }
    #product #provider_summary,
    #product .tab-content {
        background-color: #f7fcff;
        padding: 5%;
        width: 90%;
        border-bottom: 1px solid #b6b6b6
    }
    #product #provider_summary #customer_ratings_tab .goto {
        display: none
    }
    #product .product-special-offers .special-offers-item .special-offers-text {
        height: auto;
        font-size: 10px;
        clear: both;
        display: block
    }
    #product .product-special-offers .special-offers-item img {
        margin-bottom: 10px
    }
    #product #customer_reviews_container .tab-sticker {
        display: block
    }
    #product #customer_reviews_container .tab-sticker-title-container {
        display: block;
        height: auto
    }
    #product #what_happens_next {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 2px groove #fff;
        width: 100%
    }
    #product #customer_ratings_tab #customer_reviews_container {
        margin-top: -20px;
        background-color: transparent
    }
    #product #customer_ratings_tab #customer_reviews_container .tab-sticker {
        width: 100%;
        text-align: left
    }
    #product #customer_ratings_tab #customer_reviews_container li {
        width: 100%;
        margin: 0;
        padding: 0;
        float: none
    }
    #product #customer_reviews_container .tab-sticker-title-container img,
    #product #customer_ratings_tab #customer_reviews_container .contract {
        display: none
    }
    #product #customer_ratings_tab #customer_reviews_summary .customer-comments {
        width: 95%
    }
    #product #customer_ratings_tab #customer_reviews_container .customer-comments li {
        width: 95%
    }
    #product #customer_ratings_tab .rating-container .rating-label {
        width: auto;
        width: auto;
        max-width: 62%;
        display: inline-block
    }
    #product #customer_ratings_tab .rating-container .star-rating {
        display: inline-block;
        float: right
    }
    #product #customer_ratings_tab #customer_reviews_container {
        padding-top: 0
    }
    #product #customer_ratings_tab #customer_reviews_container .ratings-list {
        padding: 4%;
        background-color: #e0e9ff;
        width: auto;
        margin-top: 15px
    }
    #product #customer_ratings_tab .rating-container .rating {
        width: 100%;
        display: inline-block
    }
    #what_happens_next .bullet {
        background-image: none;
        -ms-border-radius: 50%;
        border-radius: 50%;
        background-color: #2068b0
    }
    #what_happens_next ol {
        background-color: #f5f9ff
    }
    #what_happens_next .step {
        display: table-cell;
        width: 80%;
        vertical-align: middle
    }
    #product #customer_ratings_tab #customer_reviews_container .rating-divider {
        display: none
    }
    #product #tab_stickers .tab-sticker .tab-sticker-title {
        padding: 0 10px
    }
    #product .tab-link.summary .rating {
        display: block
    }
    #product #summary_tab #key_features li {
        width: 100%;
        margin: 0
    }
    #product #summary_tab #deal_highlights,
    #product #cost_breakdown_tab #deal_highlights {
        width: 100%
    }
    #product .product-special-offers {
        border-bottom: 2px groove #fff
    }
    #product .product-special-offers .special-offers-item {
        width: 29%
    }
    #product #summary_tab #key_features .icon {
        margin-right: 5px;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        -ms-transform: scale(.75);
        -o-transform: scale(.75);
        transform: scale(.75)
    }
    #product #upsell {
        display: block;
        color: #1f4685;
        border: none;
        margin: 0
    }
    #product #upsell #upsell_image {
        display: none
    }
    #product #upsell #upsell_lead {
        display: none
    }
    #product #upsell_details {
        display: none
    }
    #product #upsell #upsell_tab {
        display: block
    }
    #product #upsell .more-less-info {
        color: #214883
    }
    #product #upsell .tab-sticker-item {
        background-color: #fef5d4;
        background-image: none;
        height: 100px
    }
    #product #upsell #upsell_image_mobile {
        height: 78px;
        display: inline-block;
        width: 86px;
        margin: 0 10px;
        background: 10px 0 no-repeat
    }
    #product #upsell #upsell_lead_mobile {
        width: 50%;
        font-size: 16px;
        padding: 10px 10px 5px 10px;
        height: 57px;
        display: inline-block;
        vertical-align: top
    }
    #product #upsell #upsell_lead_mobile #upsell_lead_text_mobile {
        margin-top: 2px;
        line-height: 100%
    }
    #product #upsell_details_mobile {
        font-family: vag-rounded;
        display: block;
        color: #1f4685;
        padding-top: 5px;
        padding-bottom: 0;
        text-align: center
    }
    #product #upsell_details_mobile #upsell_points {
        line-height: 125%;
        font-size: 14px;
        text-align: center
    }
    #product #upsell_details_mobile #upsell_price {
        padding: 5px 0 5px 0;
        height: 21px;
        display: block;
        background-color: #e9e9e9;
        color: #333;
        width: 95%;
        position: relative;
        text-align: center;
        font-size: 14px;
        margin: 0 auto
    }
    #product #upsell_details_mobile #upsell_price #main_price {
        font-size: 21px;
        display: inline
    }
    #product #upsell_details_mobile #upsell_cta_container {
        text-align: center
    }
    #product #upsell_details_mobile #upsell_cta {
        width: 228px;
        margin: 5px auto 10px auto;
        text-align: center
    }
    #product #bundledetails {
        width: 99.9%
    }
    #product #bundledetails #cost_breakdown_tab dl {
        display: inline-block
    }
    #product #bundledetails #cost_breakdown_tab dd,
    #product #bundledetails #cost_breakdown_tab dt {
        clear: both;
        top: 0;
        margin-left: 0;
        display: block
    }
    #product #bundledetails #cost_breakdown_tab dd {
        margin-top: 10px
    }
    #product #bundledetails #cost_breakdown_tab #monthly_costs,
    #product #bundledetails #cost_breakdown_tab #monthly_costs dd,
    #product #bundledetails #cost_breakdown_tab #monthly_costs dt {
        float: right;
        text-align: right
    }
    #product #bundledetails #cost_breakdown_tab #monthly_costs {
        max-width: 50%
    }
    #product #bundledetails #cost_breakdown_tab .cost-breakdown-col {
        width: auto
    }
    #product #bundledetails #cost_breakdown_tab #cost_info,
    #product #bundledetails #cost_breakdown_tab #total_costs {
        width: 100%
    }
    #product #bundledetails #cost_breakdown_tab #total_costs {
        border-top: 2px groove #fff;
        text-align: center
    }
    #product #bundledetails #cost_breakdown_tab #total_costs h3 {
        margin: 25px 0 0 0
    }
    #product #tab_contents .goto.cta {
        display: none
    }
    #product #bundledetails #broadband_tab #broadband_speeds {
        width: 100%
    }
    #product #bundledetails #broadband_tab #broadband_speeds .broadband-info {
        width: 50%;
        float: left
    }
    #product .upload-icon,
    #product .download-icon {
        float: right;
        margin-right: 2px;
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7);
        transform: scale(.7)
    }
    #product .bundledetails-tab-content h3 {
        margin-bottom: 5px
    }
    #product #bundledetails #broadband_tab #broadband_usage {
        width: 100%;
        padding: 0;
        border: 0;
        border-top: 2px groove #fff
    }
    #product #broadband_speeds .info-container {
        width: 61%
    }
    #product #broadband_speeds .info-container h4 {
        line-height: 25px
    }
    #product #broadband_speeds .info-container .speed-type,
    #product #broadband_speeds .info-container .description {
        width: 153%;
        position: relative
    }
    #product .channel-list li {
        width: 25%;
        margin: 1% 3.5%
    }
    #product .channel-list .tv-channel {
        display: table-row;
        vertical-align: top;
        height: 105px
    }
    #tab_contents,
    #product .tabs {
        margin-bottom: 0
    }
    #tab_contents {
        clear: both;
        padding-top: 0
    }
    #product #provider_summary {
        margin-top: 0
    }
    #product .bundledetails-tab-content h3 {
        margin-top: 15px
    }
    #product #phone_tab #call_rate_select {
        position: relative;
        top: 0
    }
    #product #phone_tab .dropdown .btn {
        width: 100%;
        margin-bottom: 20px
    }
    #product #phone_tab hr {
        display: none
    }
    #product #phone_tab table th,
    #product #phone_tab table td {
        width: auto;
        padding: 0;
        padding-right: 5px
    }
    #product #phonetab_billing_options,
    #product #phonetab_optional_landline_features {
        width: auto
    }
    #product #phone_tab table {
        width: 100%
    }
    #product #phone_tab .call-rates .tooltip-hover-open:after {
        left: 50%;
        top: -94%;
        margin-left: -10px;
        margin-top: 32px
    }
    #product #phone_tab .call-rates .tooltip-root {
        margin-bottom: 25px
    }
    #product #phone_tab .call-rates .tooltip-content {
        margin-top: 35px
    }
    #product #phone_tab .compact-table td {
        width: 50%
    }
    #product #phone_tab .compact-table .tooltip-hover-open:after {
        position: relative;
        top: 6px;
        left: 4px
    }
    #product #phone_tab .dropdown-menu {
        top: 40px
    }
    #product #phonetab_optional_landline_features {
        padding-left: 0;
        border: 0
    }
    #product #cost_info .line-rental-toggle-label {
        position: relative;
        top: 10px
    }
    .tab-sticker-title-container,
    .tab-sticker-content-container {
        width: 40%;
        height: 125px
    }
    .tab-sticker-content-container {
        width: 60%;
        text-align: left
    }
    .tab-link {
        width: 100%
    }
    #product #package_video_info {
        width: 100%
    }
    #product #phone_tab .tooltip-content {
        width: 100%;
        margin-left: 0;
        position: absolute
    }
    #product .tab-sticker-item.active {
        border-left: none;
        top: 0;
        padding-bottom: 0
    }
    #product .tab-sticker-item.active .less-info {
        display: block
    }
    #product li.usage {
        font-weight: normal;
        font-size: 13px
    }
    #hint_unlimited_broadband {
        width: auto
    }
    #hint_unlimited_broadband h1 {
        font-size: 25px;
        line-height: 25px
    }
}

@media only screen and (min-width:599px) {
    #product .tab-sticker-item:hover {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02)
    }
    #product #upsell #upsell_details #upsell_cta {
        width: 226px
    }
}

#product #bundledetails .usage {
    display: none
}

#product #bundledetails .cost_breakdown .tab-sticker .tab-sticker-title {
    margin: 10px 0 0 0
}

#product #bundledetails .first-year-cost-container {
    font-size: 12px
}

#product .tab-sticker .tab-sticker-title {
    margin: 6px 0
}

#product .tab-sticker .tab-sticker-content .usage {
    display: none
}

#product #broadband_usage {
    display: none
}

#product #bundledetails #broadband_tab #broadband_speeds {
    width: 100%
}

#product #broadband_tab #broadband_speeds .broadband-info {
    float: left;
    width: 50%
}

#product .vat-icon {
    background: transparent url('/Content/Images/es-ES/Iva-incluido-question.png') no-repeat 0 center;
    height: 60px;
    width: 174px;
    display: block;
    margin: 10px auto 0
}

#product #bundledetails #cost_breakdown_tab .cost-breakdown-col dd,
#product #cost_breakdown_tab #total_first_year_cost {
    font-size: 26px
}

#product #bundledetails #upfront_costs .toggle-on.toggle-newline,
#product #bundledetails #total_first_year_cost .toggle-on.toggle-newline {
    display: block!important
}

#product #bundledetails #total_first_year_cost .toggle-off.toggle-newline {
    display: none
}

#product #more_info {
    display: none
}

@media only screen and (max-width:599px) {
    #product #cost_breakdown_tab .tax-included {
        float: left;
        margin: 15px 0 0 0;
        position: relative;
        left: 50%;
        margin-left: -82px
    }
    #header_banner {
        z-index: auto
    }
}

@media only screen and (min-width:599px) {
    #product #cost_breakdown_tab .tax-included {
        float: right;
        position: relative;
        left: -40px;
        top: 10px
    }
    #product .bundledetails-tab-content h3 {
        line-height: 20px
    }
    #product #bundledetails .first-year-cost {
        display: block
    }
}

.crp {
    background: url('/assets/images/customer-reviews-sprite.png?v=4') no-repeat 0 0
}

.star-rating {
    display: inline-block;
    text-indent: -9999px
}

.star-rating.small {
    float: none;
    height: 16px;
    width: 91px
}

.star-rating.small.stars-00 {
    background-position: -180px -16px
}

.star-rating.small.stars-05 {
    background-position: -161px 0
}

.star-rating.small.stars-10 {
    background-position: -161px -16px
}

.star-rating.small.stars-15 {
    background-position: -143px 0
}

.star-rating.small.stars-20 {
    background-position: -143px -16px
}

.star-rating.small.stars-25 {
    background-position: -125px 0
}

.star-rating.small.stars-30 {
    background-position: -125px -16px
}

.star-rating.small.stars-35 {
    background-position: -106px 0
}

.star-rating.small.stars-40 {
    background-position: -106px -16px
}

.star-rating.small.stars-45 {
    background-position: -87px 0
}

.star-rating.small.stars-50 {
    background-position: -87px -16px
}

.star-rating.medium {
    height: 23px;
    width: 129px
}

.star-rating.medium.stars-00 {
    background-position: -125px -67px
}

.star-rating.medium.stars-05 {
    background-position: -100px -43px
}

.star-rating.medium.stars-10 {
    background-position: -100px -67px
}

.star-rating.medium.stars-15 {
    background-position: -75px -43px
}

.star-rating.medium.stars-20 {
    background-position: -75px -67px
}

.star-rating.medium.stars-25 {
    background-position: -50px -43px
}

.star-rating.medium.stars-30 {
    background-position: -50px -67px
}

.star-rating.medium.stars-35 {
    background-position: -25px -43px
}

.star-rating.medium.stars-40 {
    background-position: -25px -67px
}

.star-rating.medium.stars-45 {
    background-position: 0 -43px
}

.star-rating.medium.stars-50 {
    background-position: 0 -67px
}

.star-rating.large {
    height: 33px;
    width: 175px
}

.star-rating.large.stars-00 {
    background-position: -175px -125px
}

.star-rating.large.stars-05 {
    background-position: -140px -92px
}

.star-rating.large.stars-10 {
    background-position: -140px -125px
}

.star-rating.large.stars-15 {
    background-position: -105px -92px
}

.star-rating.large.stars-20 {
    background-position: -105px -125px
}

.star-rating.large.stars-25 {
    background-position: -70px -92px
}

.star-rating.large.stars-30 {
    background-position: -70px -125px
}

.star-rating.large.stars-35 {
    background-position: -35px -92px
}

.star-rating.large.stars-40 {
    background-position: -35px -125px
}

.star-rating.large.stars-45 {
    background-position: 0 -92px
}

.star-rating.large.stars-50 {
    background-position: 0 -125px
}

#hub_page #hero_content .input-widget.tv .tv-option-container .label-button {
    padding-right: 6px
}