

<div class="page">




	<!--
	Copyright 2016 Google Inc. All Rights Reserved. 
	Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
	-->


	<div id="product_hero"></div>
	<div id="product" class="page page-width new sticky-container dtl-data-product-detail-container">
		<section id="deal_title">
			<nav id="back_to_results">
				<a href="#" class="back tf">
					<span class="back-text">Volver atrás</span>
				</a>
				<a href="/" class="search-again tf" style="display: none">
					<span class="search-again-text">Más ofertas para mi código postal</span>
				</a>

				<div class="goto cta has-number" style="">
					<a class="track-as-checkout product-cost-link" data-skip-goto="true" data-skip-goto-redirect="/goto/redirectonly?linktrackerid=3258" data-skip-goto-tracking="/goto?linktrackerid=3258&amp;trackingonly=true" href="/goto?linktrackerid=3258" target="_blank">        <span class="click-btn medium provider-name">Ir a Vodafone</span>
					</a>    <span class="dtl-data-attributes" data-dtl-broadband-connection-type="Broadband" data-dtl-broadband-download-speed="30 Mb" data-dtl-broadband-usage="TRANSLATE: [Pay as you go]" data-dtl-contract-length="0" data-dtl-deal-types="QuadBundle,BroadbandAndHomephoneAndMobile" data-dtl-first-year-cost="570,00 €" data-dtl-home-phone-summary="-" data-dtl-id="5076" data-dtl-line-rental="Cuota de línea incluida" data-dtl-list-name="" data-dtl-mobile-phone-connection-type="4G" data-dtl-mobile-phone-data="2 GB" data-dtl-mobile-phone-minutes="200 minutos" data-dtl-mobile-phone-texts="Unlimited" data-dtl-monthly-cost="40,00 €" data-dtl-name="One 30 Mb | S - ADSL" data-dtl-position="" data-dtl-product-area="HomeComms" data-dtl-provider="Vodafone" data-dtl-special-offers="2a linea gratis,Descuento 20% 3 meses" data-dtl-total-tv-channels="0" data-dtl-tv-channels=""></span>

					<div class="goto-phonenumber click-btn">
						<span class="pps phone-logo-small"></span>
						<span class="goto-phonenumber-cta">Llama a Vodafone al</span>
						<a class="goto-phonenumber-number pps" data-provider="vodafone" data-valuetype="phonenumber" href="tel:900802378"><span class="pps"></span>900 802 378</a>
					</div>
				</div>

			</nav>

			<a class="track-as-checkout deal-title" data-skip-goto="true" data-skip-goto-redirect="/goto/redirectonly?linktrackerid=3258" data-skip-goto-tracking="/goto?linktrackerid=3258&amp;trackingonly=true" href="/goto?linktrackerid=3258" target="_blank">            <h2 class="deal-title">Vodafone - One 30 Mb | S - ADSL &gt;&gt;</h2>
			</a>        <span class="dtl-data-attributes" data-dtl-broadband-connection-type="Broadband" data-dtl-broadband-download-speed="30 Mb" data-dtl-broadband-usage="TRANSLATE: [Pay as you go]" data-dtl-contract-length="0" data-dtl-deal-types="QuadBundle,BroadbandAndHomephoneAndMobile" data-dtl-first-year-cost="570,00 €" data-dtl-home-phone-summary="-" data-dtl-id="5076" data-dtl-line-rental="Cuota de línea incluida" data-dtl-list-name="" data-dtl-mobile-phone-connection-type="4G" data-dtl-mobile-phone-data="2 GB" data-dtl-mobile-phone-minutes="200 minutos" data-dtl-mobile-phone-texts="Unlimited" data-dtl-monthly-cost="40,00 €" data-dtl-name="One 30 Mb | S - ADSL" data-dtl-position="" data-dtl-product-area="HomeComms" data-dtl-provider="Vodafone" data-dtl-special-offers="2a linea gratis,Descuento 20% 3 meses" data-dtl-total-tv-channels="0" data-dtl-tv-channels=""></span>
			</section>

			<div id="mobile_cta" class="sticky-element" data-sticky-margin="0" data-sticky-balance="true" data-sticky-disable-pin="true" data-sticky-full-width="true">
				
				<div class="goto cta has-number">
					<a class="track-as-checkout product-cost-link" data-skip-goto="true" data-skip-goto-redirect="/goto/redirectonly?linktrackerid=3920" data-skip-goto-tracking="/goto?linktrackerid=3920&amp;trackingonly=true" href="/goto?linktrackerid=3920" target="_blank">        <span class="click-btn medium provider-name">Ir a Orange</span>
					</a>    <span class="dtl-data-attributes" data-dtl-broadband-connection-type="FibreBroadband" data-dtl-broadband-download-speed="300 Mb" data-dtl-broadband-usage="TRANSLATE: [Pay as you go]" data-dtl-contract-length="12" data-dtl-deal-types="QuadBundle,FibreBroadbandAndHomephoneAndMobile,BroadbandAndHomephoneAndMobile" data-dtl-first-year-cost="600,99 €" data-dtl-home-phone-summary="-" data-dtl-id="5030" data-dtl-line-rental="Cuota de línea incluida" data-dtl-list-name="" data-dtl-mobile-phone-connection-type="4G" data-dtl-mobile-phone-data="2 GB" data-dtl-mobile-phone-minutes="200 minutos" data-dtl-mobile-phone-texts="No incluye" data-dtl-monthly-cost="23,48 €" data-dtl-name="Canguro Ahorro 300Mb" data-dtl-position="" data-dtl-product-area="HomeComms" data-dtl-provider="Orange" data-dtl-special-offers="50% descuento,300 Mb simétricos,300Mb a precio de 50Mb" data-dtl-total-tv-channels="0" data-dtl-tv-channels=""></span>

					<div class="goto-phonenumber click-btn">
						<span class="pps phone-logo-small"></span>
						<span class="goto-phonenumber-cta">Llama a Orange al</span>
						<a class="goto-phonenumber-number medium pps" data-provider="orange" data-valuetype="phonenumber" href="tel:900906103"><span class="pps"></span>900 906 103</a>
					</div>
				</div>
			</div>

			    

			<div id="tab_contents" class="tabs">
				<section id="bundledetails" elWidthResize type="desctop">

					<div ng-controller="TabsDemoCtrl" >
					  <uib-tabset active="active">

					    <uib-tab index="0">
					      <uib-tab-heading>
						      <div class="tab-sticker-title-container">
						      	<img src="https://www.comparaiso.es/remote/bucket.cdndtl.co.uk/Europe/Spain/logos/transparent/vodafone-99x99.png.ashx?width=130&height=80">
						      </div>
					      </uib-tab-heading>

					      <div id="tab_summary" class="bundledetails-tab-content tab-content" style="display: block;">
					      	<div id="summary_tab">
					      		<div id="deal_highlights">
					      			<div class="product-special-offers">
					      				<h3>
					      					Promoción
					      				</h3>
					      				<div class="special-offers-item">
					      					<img title="50% descuento" alt="50% descuento" src="https://bucket.cdndtl.co.uk/Europe/Spain/Spanishoffericons/50_dto_orange.png">
					      					<p class="special-offers-text">50% de descuento durante  3 meses. Válido para nuevos clientes Canguro de fijo y móvil y también para clientes de móvil que se pasan a Canguro contratando el fijo.</p>
					      				</div>
					      				<div class="special-offers-item">
					      					<img title="300 Mb simétricos" alt="300 Mb simétricos" src="https://bucket.cdndtl.co.uk/Europe/Spain/Spanishoffericons/300Mb simétricos.png">
					      					<p class="special-offers-text">Disfruta de 300 Mb de bajada y 300 Mb de subida</p>
					      				</div>
					      				<div class="special-offers-item">
					      					<img title="300Mb a precio de 50Mb" alt="300Mb a precio de 50Mb" src="https://bucket.cdndtl.co.uk/Europe/Spain/Spanishoffericons/300Mb a precio de 50Mb.png">
					      					<p class="special-offers-text">Ahora con Orange 300 Mb a precio de 50 Mb</p>
					      				</div>
					      			</div>
					      			<br class="clear">
					      			<div id="key_features">
					      				<h3>Resumen de la oferta</h3>
					      			</div>
					      		</div>
					      		<div id="product_cost">
					      			<a class="track-as-checkout product-cost-link" data-skip-goto="true" data-skip-goto-redirect="/goto/redirectonly?linktrackerid=3920" data-skip-goto-tracking="/goto?linktrackerid=3920&amp;trackingonly=true" href="/goto?linktrackerid=3920" target="_blank">        <h3>Coste mensual</h3>
					      				<p class="product-cost-price-info">
					      					<strong class="product-cost-total-price tf">23,48 €</strong>
					      					<small>(durante 3 meses)</small>
					      					<span class="product-cost-monthly-line-rental">Cuota de línea incluida</span>
					      					<span class="product-cost-new-line toggle-on toggle-newline" > Gratis</span>

					      					<small class="product-cost-vat-note">
					      						IVA incluido
					      					</small>
					      				</p>
					      				<div class="goto">
					      					<p class="goto-packagetext">
					      						<span class="goto-cta">Para contratar esta oferta</span>
					      						<span class="goto-providername">de Orange </span>
					      					</p>
					      					<span class="click-btn large">Ir a Orange</span>
					      					<p class="goto-phonenumber">
					      						<span class="pps phone-logo-small"></span>
					      						<span class="goto-phonenumber-cta">Llama a Orange al</span>
					      						<span class="goto-phonenumber-number" data-provider="orange" data-valuetype="phonenumber">900 906 103</span>

					      					</p>
					      				</div>
					      			</a>    <span class="dtl-data-attributes" data-dtl-broadband-connection-type="FibreBroadband" data-dtl-broadband-download-speed="300 Mb" data-dtl-broadband-usage="TRANSLATE: [Pay as you go]" data-dtl-contract-length="12" data-dtl-deal-types="QuadBundle,FibreBroadbandAndHomephoneAndMobile,BroadbandAndHomephoneAndMobile" data-dtl-first-year-cost="600,99 €" data-dtl-home-phone-summary="-" data-dtl-id="5030" data-dtl-line-rental="Cuota de línea incluida" data-dtl-list-name="" data-dtl-mobile-phone-connection-type="4G" data-dtl-mobile-phone-data="2 GB" data-dtl-mobile-phone-minutes="200 minutos" data-dtl-mobile-phone-texts="No incluye" data-dtl-monthly-cost="23,48 €" data-dtl-name="Canguro Ahorro 300Mb" data-dtl-position="" data-dtl-product-area="HomeComms" data-dtl-provider="Orange" data-dtl-special-offers="50% descuento,300 Mb simétricos,300Mb a precio de 50Mb" data-dtl-total-tv-channels="0" data-dtl-tv-channels=""></span>
					      		</div>


					      	</div>

					      	<br class="clear">
					      </div> <!-- tab_summary -->

					    </uib-tab>

		                <uib-tab index="1">
		                  <uib-tab-heading>
		        	      	<div class="tab-sticker-title-container">
	        	      	        <h3 class="tab-sticker-title">Costes</h3>
	        	      	        <div>Coste mensual</div>
	        	      	        <span class="product-cost-price-info">
	        	      	            <strong class="monthly-cost-price tf">23,48 €</strong>
	        	      	                <small class="monthly-cost-price-note">(durante 3 meses)</small>

	        	      	            <span class="first-year-cost-container">
	        	      	                Coste del 1er año: <span class="first-year-cost">600,99 €</span>
	        	      	            </span>
	        	      	        </span>
	        	      	    </div>
		                  </uib-tab-heading>
		                  
		                  <!-- content tab 2 -->
		                  <div id="tab_cost_breakdown" class="bundledetails-tab-content tab-content">

		                  	<gratis-check></gratis-check>	

		                  	<br class="clear">
		                  </div>

		                  <!-- end content tab 2 -->

		                </uib-tab>

				        <uib-tab index="2">
				          <uib-tab-heading>
					        <div class="tab-sticker-title-container">
					        	<h3 class="tab-sticker-title tf">Internet</h3>
					        	<span class="pps broadband-logo">
					        		<span class="download-speed tf">300 Mb</span>
					        	</span>
					        </div>
				          </uib-tab-heading>
				          
				          <!-- content tab 3 -->
				          <div id="tab_broadband" class="bundledetails-tab-content tab-content" style="display: block;">
				          	<article id="broadband_tab">
				          		<section id="broadband_speeds">
				          			<h3>Velocidad</h3>
				          			<div class="broadband-info">
				          				<span class="pps download-icon"></span>
				          				<div class="info-container">
				          					<h4>
				          						300 Mb
				          					</h4>
				          					<span class="tf speed-type">Bajada</span>
				          					<p class="description">La velocidad real que recibas dependerá de las condiciones de tu línea o la congestión de la red en cada momento</p>
				          				</div>
				          				<div class="clear"></div>
				          			</div>
				          			<div class="broadband-info">
				          				<span class="pps upload-icon"></span>
				          				<div class="info-container">
				          					<h4> 300 Mb</h4>
				          					<span class="tf speed-type">Subida</span>
				          					<p class="description">Esta velocidad hace referencia a cómo de rápido puedes enviar archivos</p>
				          				</div>
				          				<div class="clear"></div>
				          			</div>
				          		</section>

				          		<section id="broadband_usage">
				          			<h3></h3>
				          			<div class="broadband-info">
				          				<p class="tf description"></p>
				          			</div>
				          			<div class="broadband-info">
				          				<h4></h4>
				          				<p class="tf description"></p>
				          			</div>
				          		</section>
				          		<br class="clear">
				          	</article>

				          	<br class="clear">
				          </div>
				          <!-- end content tab 3 -->

				        </uib-tab>

				        <uib-tab index="3">
				          <uib-tab-heading>
					        <div class="tab-sticker-title-container">
				                <h3 class="tab-sticker-title">Fijo</h3>
				                <span class="pps phone-logo"></span>
				                <span class="title-part tf phone-tariff">Llamadas incluidas</span>
				            </div>
				          </uib-tab-heading>
				          

				          <!-- content tab 4 -->
				          <div id="tab_phone" class="bundledetails-tab-content tab-content" style="display: block;">
				          	<article id="phone_tab">
				          		<h2>Llamadas desde el fijo</h2>
				          		<div class="select-container">
				          			<select 
				          			ng-model="vm.checkedTarifePrice" 
				          			id="speed_options" 
				          			class="ng-pristine ng-valid" 
				          			ng-change="vm.showNameChanged()">
				          				<option value="0" selected="selected" label="fijos nacionales">fijos nacionales</option> 
				          				<option value="1" label="fijos internacionales">fijos internacionales</option>
				          				<option value="2" label="móviles internacionales">móviles internacionales</option>
				          			</select>
				          			<span class="s dropdown-icon"></span>
				          		</div>

				          		<hr class="clear">
				          		<section id="phonetab_national_landline" class="call-rate-list" ng-if="vm.nationalTarifes">
				          			<table class="call-rates">
				          				<thead>
				          					<tr>
				          						<th></th>
				          						<th class="daytime">
				          							<span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Mañana</a><span class="tooltip-content tooltip-top" >Todos los días de 08:00 a 00:00</span></span>                </th>
				          							<th class="evening">
				          								<span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Noche</a><span class="tooltip-content tooltip-top" >Todos los días de 22:00 a 08:00 del día siguiente</span></span>                </th>
				          								<th class="weekend">
				          									<span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Fin de semana</a><span class="tooltip-content tooltip-top" >Sábados y Domingos</span></span>                </th>
				          								</tr>
				          							</thead>
				          							<tbody>
				          								<tr>
				          									<td class="call-type">Nacional</td>
				          									<td>GRATIS</td>
				          									<td>GRATIS</td>
				          									<td>GRATIS</td>
				          								</tr>
				          								<tr>
				          									<td class="key">Movistar</td>
				          									<td>0,2415&nbsp;€</td>
				          									<td>0,1575&nbsp;€</td>
				          									<td>0,1575&nbsp;€</td>
				          								</tr>
				          								<tr>
				          									<td class="key">Orange</td>
				          									<td>0,2415&nbsp;€</td>
				          									<td>0,1575&nbsp;€</td>
				          									<td>0,1575&nbsp;€</td>
				          								</tr>
				          								<tr>
				          									<td class="key">Otros</td>
				          									<td>0,2415&nbsp;€</td>
				          									<td>0,1575&nbsp;€</td>
				          									<td>0,1575&nbsp;€</td>
				          								</tr>
				          								<tr>
				          									<td class="key">Vodafone</td>
				          									<td>0,2415&nbsp;€</td>
				          									<td>0,1575&nbsp;€</td>
				          									<td>0,1575&nbsp;€</td>
				          								</tr>
				          								<tr>
				          									<td class="key">Yoigo</td>
				          									<td>0,2415&nbsp;€</td>
				          									<td>0,1575&nbsp;€</td>
				          									<td>0,1575&nbsp;€</td>
				          								</tr>
				          							</tbody>
				          						</table>
				          					</section>
				          					<section id="phonetab_international_landlines" class="call-rate-list" ng-if="vm.internationalTarifes">
				          						<table class="call-rates">
				          							<thead>
				          								<tr>
				          									<th></th>
				          									<th class="daytime">
				          										<span class="tooltip-root">
				          											<a class="tooltip-hover-open s" href="#">Mañana</a>
				          										<span class="tooltip-content tooltip-top" >Todos los días de 00:00 a 00:00</span>
				          										</span>                
				          									</th>
			          										<th class="evening">
			          											<span class="tooltip-root">
			          												<a class="tooltip-hover-open s" href="#">Noche</a>
			          												<span class="tooltip-content tooltip-top" >Todos los días de 00:00 a 00:00 del día siguiente</span></span>                
			          										</th>
			          										<th class="weekend">
			          												<span class="tooltip-root">
				          												<a class="tooltip-hover-open s" href="#">Fin de semana</a>
				          												<span class="tooltip-content tooltip-top" >Sábados y Domingos</span>
			          												</span>
			          										</th>
	          											</tr>
	          										</thead>
	          										<tbody>
	          											<tr>
	          												<td class="key">Alemania</td>
	          												<td>0,13&nbsp;€</td>
	          												<td>0,13 €</td>
	          												<td>0,13 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Argentina</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Brasil</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Chile</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">China</td>
	          												<td>0,30 €</td>
	          												<td>0,30 €</td>
	          												<td>0,30 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Colombia</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Cuba</td>
	          												<td>0,89 €</td>
	          												<td>0,89 €</td>
	          												<td>0,89 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Ecuador</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Estados Unidos</td>
	          												<td>0,13 €</td>
	          												<td>0,13 €</td>
	          												<td>0,13 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Francia</td>
	          												<td>0,13 €</td>
	          												<td>0,13 €</td>
	          												<td>0,13 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Italia</td>
	          												<td>0,13 €</td>
	          												<td>0,13 €</td>
	          												<td>0,13 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Marruecos</td>
	          												<td>0,30 €</td>
	          												<td>0,30 €</td>
	          												<td>0,30 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">México</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Perú</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Portugal</td>
	          												<td>0,13 €</td>
	          												<td>0,13 €</td>
	          												<td>0,13 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Reino Unido</td>
	          												<td>0,13 €</td>
	          												<td>0,13 €</td>
	          												<td>0,13 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Rep. Dominicana</td>
	          												<td>0,28 €</td>
	          												<td>0,28 €</td>
	          												<td>0,28 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Rumanía</td>
	          												<td>0,30 €</td>
	          												<td>0,30 €</td>
	          												<td>0,30 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Uruguay</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          											</tr>
	          											<tr>
	          												<td class="key">Venezuela</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          												<td>0,37 €</td>
	          											</tr>
	          										</tbody>
	          									</table>
	          								</section>
	          								<section id="phonetab_international_mobiles" class="call-rate-list" ng-if="vm.internaMobileTarifes">
	          									<table class="call-rates">
	          										<thead>
	          											<tr>
	          												<th></th>
	          												<th class="daytime">
	          													<span class="tooltip-root">
		          													<a class="tooltip-hover-open s" href="#">Mañana</a>
		          													<span class="tooltip-content tooltip-top" >Todos los días de 00:00 a 00:00</span>
	          													</span>                
	          												</th>
          													<th class="evening">
          														<span class="tooltip-root">
	          														<a class="tooltip-hover-open s" href="#">Noche</a>
	          														<span class="tooltip-content tooltip-top" >dtl.europe.model.ViewModels.Product.ProductCallRateGroup</span>
          														</span>                
          													</th>
          														<th class="weekend">
          															<span class="tooltip-root">
	          															<a class="tooltip-hover-open s" href="#">Fin de semana</a>
	          															<span class="tooltip-content tooltip-top" >dtl.europe.model.ViewModels.Product.ProductCallRateGroup</span>
          															</span>                
          														</th>
	          											</tr>
      													</thead>
      													<tbody>
      														<tr>
      															<td class="key">Alemania</td>
      															<td>0,32&nbsp;€</td>
      															<td>0,32 €</td>
      															<td>0,32 €</td>
      														</tr>
      														<tr>
      															<td class="key">Argentina</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      														</tr>
      														<tr>
      															<td class="key">Brasil</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      														</tr>
      														<tr>
      															<td class="key">Chile</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      														</tr>
      														<tr>
      															<td class="key">China</td>
      															<td>0,68 €</td>
      															<td>0,68 €</td>
      															<td>0,68 €</td>
      														</tr>
      														<tr>
      															<td class="key">Colombia</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      														</tr>
      														<tr>
      															<td class="key">Cuba</td>
      															<td>0,89 €</td>
      															<td>0,89 €</td>
      															<td>0,89 €</td>
      														</tr>
      														<tr>
      															<td class="key">Ecuador</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      														</tr>
      														<tr>
      															<td class="key">Estados Unidos</td>
      															<td>0,32 €</td>
      															<td>0,32 €</td>
      															<td>0,32 €</td>
      														</tr>
      														<tr>
      															<td class="key">Francia</td>
      															<td>0,32 €</td>
      															<td>0,32 €</td>
      															<td>0,32 €</td>
      														</tr>
      														<tr>
      															<td class="key">Italia</td>
      															<td>0,32 €</td>
      															<td>0,32 €</td>
      															<td>0,32 €</td>
      														</tr>
      														<tr>
      															<td class="key">Marruecos</td>
      															<td>0,30 €</td>
      															<td>0,30 €</td>
      															<td>0,30 €</td>
      														</tr>
      														<tr>
      															<td class="key">México</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      														</tr>
      														<tr>
      															<td class="key">Perú</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      														</tr>
      														<tr>
      															<td class="key">Portugal</td>
      															<td>0,32 €</td>
      															<td>0,32 €</td>
      															<td>0,32 €</td>
      														</tr>
      														<tr>
      															<td class="key">Reino Unido</td>
      															<td>0,32 €</td>
      															<td>0,32 €</td>
      															<td>0,32 €</td>
      														</tr>
      														<tr>
      															<td class="key">Rep. Dominicana</td>
      															<td>0,31 €</td>
      															<td>0,31 €</td>
      															<td>0,31 €</td>
      														</tr>
      														<tr>
      															<td class="key">Rumanía</td>
      															<td>0,30 €</td>
      															<td>0,30 €</td>
      															<td>0,30 €</td>
      														</tr>
      														<tr>
      															<td class="key">Uruguay</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      														</tr>
      														<tr>
      															<td class="key">Venezuela</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      															<td>0,46 €</td>
      														</tr>
      													</tbody>
      												</table>
      											</section>
      											<section id="additional_information">
      												<h4>Información adicional</h4>
      												<ul>
      													<li>
      														Las llamadas incluidas no tienen establecimiento de llamada. Una vez consumidos los minutos del paquete, el establecimiento es de 0,15 € a fijos nacionales y de 0,15 € a móviles nacionales. El establecimiento de las llamadas internacionales depende del país de destino (a fijos de Europa Occidental es de 0,25 €).
      													</li>

      													<li>
      														Los costes mostrados sólo son aplicables una vez consumidos los minutos incluidos en la oferta.
      													</li>
      												</ul>
      											</section>

      											<section id="phonetab_billing_options">
      												<h3>Opciones de facturación</h3>
      												<table class="compact-table">
      													<thead>
      														<tr>
      															<th>Tipo de factura</th>
      															<th>Coste</th>
      														</tr>
      													</thead>
      													<tbody>
      														<tr>
      															<td>
      																<span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Factura en papel</a><span class="tooltip-content tooltip-top" >Cada mes se recibe la factura por correo postal.</span></span>
      															</td>
      															<td>Gratis</td>
      														</tr>
      														<tr>
      															<td>
      																<span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Factura online</a><span class="tooltip-content tooltip-top" >La factura puede consultarse a través de la página web del operador. Al activar esta opción deja de recibirse en papel.</span></span>
      															</td>
      															<td>Gratis</td>
      														</tr>
      														<tr>
      															<td>
      																<span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Domiciliación bancaria</a><span class="tooltip-content tooltip-top" >La factura se cobra directamente desde la cuenta bancaria del cliente.</span></span>
      															</td>
      															<td>Gratis</td>
      														</tr>
      														<tr>
      															<td>Pago por ventanilla</td>
      															<td>El operador no admite esta forma de pago.</td>
      														</tr>
      													</tbody>
      												</table>
      												<h4><span class="icon lightbulb"></span><span class="icon-title">¿Qué son las opciones de facturación?</span></h4>
      												<p>El método habitual de pago es la domiciliación bancaria, aunque hay proveedores que también permiten pagar cada mes en una oficina bancaria. Además, como la factura puede consultarse por Internet, no siempre se envía en papel.</p>
      											</section>



      											<p id="phonetab_last_updated">Página actualizada el 07/06/2016</p>
      										</article>

      										<br class="clear">
      									</div>
      									<!-- end content tab 4 -->

				        </uib-tab>

				        <uib-tab index="4">
				          <uib-tab-heading>
					        <div class="tab-sticker-title-container">
				                <h3 class="tab-sticker-title tf">Móvil</h3>
				                <span class="pps mobile-logo"></span>
				            </div>
				          </uib-tab-heading>
				          
				          <!-- content tab 5 -->
				          <div id="tab_mobile" class="bundledetails-tab-content tab-content" style="display: block;">
				          	<article id="mobile_tab">
				          		<section>
				          			<h2>Móvil</h2>

				          			<h4>Llamadas</h4>

				          			<div class="row">
				          				<div class="key"><h5>Minutos incluidos:</h5></div>
				          				<div class="value">
				          					<h5>200 minutos</h5>
				          				</div>
				          				<div class="description">Son las llamadas a fijos y móviles nacionales que cada mes incluye tu tarifa. Al usar estos minutos no hay establecimiento de llamada ni ningún tipo de coste adicional.</div>
				          			</div>

				          			<div class="row">
				          				<div class="key"><h5>Coste fuera de tarifa:</h5></div>
				          				<div class="value">
				          					<h5>21,78 cént/min</h5>
				          					<div class="note">18,15</div>
				          				</div>
				          				<div class="description">Es el coste de las llamadas una vez consumidos los minutos de tu tarifa. Obviamente, si tu tarifa tiene llamadas ilimitadas, no hay ningún coste extra ni establecimiento.</div>
				          			</div><br class="clear">


				          			<h4>Internet móvil</h4>

				          			<div class="row">
				          				<div class="key"><h5>Datos:</h5></div>
				          				<div class="value">
				          					<h5>2 GB</h5>
				          				</div>
				          				<div class="description">Es el número de megas que incluye tu tarifa cada mes para navegar a máxima velocidad desde tu móvil. Para chatear y consultas, no necesitarás muchos. Para música o vídeos, son aconsejables 500 MB o 1 GB.</div>
				          			</div>

				          			<div class="row">
				          				<div class="key"><h5>Velocidad:</h5></div>
				          				<div class="value">
				          					<h5>4G</h5>
				          				</div>
				          				<div class="description">Es la velocidad máxima a la que podrás navegar. Las redes 3G alcanzan velocidades de hasta 7,2 Mb/s y las 4G de hasta 100 Mb/s. Para el 4G necesitas un smartphone compatible y estar en zona de cobertura.</div>
				          			</div><br class="clear">

				          			<div class="row">
				          				<div class="key"><h5>Exceso de datos:</h5></div>
				          				<div class="value">
				          					<h5>Sin Coste</h5>
				          				</div>
				          				<div class="description">Es el precio de los megas adicionales una vez consumidos los de tu tarifa. Si no hay coste, se reduce la velocidad hasta el siguiente mes.</div>
				          			</div>


				          			<h4>Mensajes</h4>

				          			<div class="row">
				          				<div class="key"><h5>SMS incluidos:</h5></div>
				          				<div class="value">
				          					<h5>No incluye</h5>
				          				</div>
				          				<div class="description">Es el número de mensajes SMS que incluye tu tarifa cada mes. En caso de no tener ninguno, se tarificarán al precio habitual.</div>
				          			</div><br class="clear">

				          			<div class="row">
				          				<div class="key"><h5>Coste fuera de tarifa:</h5></div>
				          				<div class="value">
				          					<h5>12 cént/SMS</h5>
				          				</div>
				          				<div class="description">Es el coste de los mensajes en caso de que tu tarifa no incluya o hayas agotados los del mes.</div>
				          			</div>


				          			<h4>Líneas adicionales</h4>
				          			<div class="row">
				          				<div class="key"><h5>6,95 €/mes:</h5></div>
				          				<div class="value">
				          					<h5>Canguro 500 MB</h5>
				          				</div>
				          				<div class="description">Incluye llamadas por 1 céntimo/minuto (más establecimiento de 18 céntimos) y 500 MB de navegación 4G</div>
				          			</div><br class="clear">
				          			<div class="row">
				          				<div class="key"><h5>10,95 €/mes:</h5></div>
				          				<div class="value">
				          					<h5>Canguro Ahorro</h5>
				          				</div>
				          				<div class="description">Incluye 150 minutos y 1 GB de navegación 4G</div>
				          			</div>
				          			<div class="row">
				          				<div class="key"><h5>22,95 €/mes:</h5></div>
				          				<div class="value">
				          					<h5>Canguro Sin Límites</h5>
				          				</div>
				          				<div class="description">Incluye llamadas ilimitadas y 2,5 GB de navegación 4G</div>
				          			</div><br class="clear">
				          			<h4>Smartphones</h4>
				          			<div class="row">
				          				<div class="key"><h5>Nokia Lumia 635, Sony Xperia E1, Sony Xperia M2:</h5></div>
				          				<div class="value">
				          					<h5>Smartphones gratuitos</h5>
				          				</div>
				          				<div class="description">Algunos operdores ofrecen smartphones completamente gratis al contratar un paquete de internet y móvil. Pero ten en cuenta que aceptar uno de estos teléfonos puede suponer una permanencia más larga.</div>
				          			</div>
				          		</section>
				          	</article>


				          	<br class="clear">
				          </div>
				          <!-- end tab mobile -->

				        </uib-tab>

					    
					  </uib-tabset>
					</div>
					<br class="clear">
					
				</section>

				<br class="clear">

				<!-- <div elWidthResize ng-view ng-style="{ height: windowHeight }"><b>{{windowHeight}}</b></div> -->

				<section id="bundledetails">
					<uib-accordion close-others="oneAtATime" elWidthResize type="mobile" class="tabsMobile">
					    <uib-accordion-group>
					      <uib-accordion-heading>
						      <div class="tab-sticker centered-container">
						          <div class="tab-sticker-title-container centered">
						              <img src="https://www.comparaiso.es/remote/bucket.cdndtl.co.uk/Europe/Spain/logos/transparent/vodafone-99x99.png.ashx?width=130&height=80">
						              <br>
						              
						          </div>
						          <div class="tab-sticker-content-container">
						              <ul class="tab-sticker-content">
						                      <li>Llamadas a fijos nacionales incluidas</li>
						                      <li>Gratis Instalación</li>
						                      <li>Router WiFi incluido</li>
						              </ul>
						          </div>
						      </div>
					      </uib-accordion-heading>
					      <div id="tab_summary" class="bundledetails-tab-content tab-content" style="display: block;">
					      	<div id="summary_tab">
					      		<div id="deal_highlights">
					      			<div class="product-special-offers">
					      				<h3>
					      					Promoción
					      				</h3>
					      				<div class="special-offers-item">
					      					<img title="50% descuento" alt="50% descuento" src="https://bucket.cdndtl.co.uk/Europe/Spain/Spanishoffericons/50_dto_orange.png">
					      					<p class="special-offers-text">50% de descuento durante  3 meses. Válido para nuevos clientes Canguro de fijo y móvil y también para clientes de móvil que se pasan a Canguro contratando el fijo.</p>
					      				</div>
					      				<div class="special-offers-item">
					      					<img title="300 Mb simétricos" alt="300 Mb simétricos" src="https://bucket.cdndtl.co.uk/Europe/Spain/Spanishoffericons/300Mb simétricos.png">
					      					<p class="special-offers-text">Disfruta de 300 Mb de bajada y 300 Mb de subida</p>
					      				</div>
					      				<div class="special-offers-item">
					      					<img title="300Mb a precio de 50Mb" alt="300Mb a precio de 50Mb" src="https://bucket.cdndtl.co.uk/Europe/Spain/Spanishoffericons/300Mb a precio de 50Mb.png">
					      					<p class="special-offers-text">Ahora con Orange 300 Mb a precio de 50 Mb</p>
					      				</div>
					      			</div>
					      			<br class="clear">
					      			<div id="key_features">
					      				<h3>Resumen de la oferta</h3>

					      				<ul>
					      					<li>
					      						<span title="Llamadas a fijos nacionales incluidas" class="icon phone"></span>
					      						<div class="key-features-text ">
					      							<span class="tooltip-root"><a class="tooltip-hover-open" href="#">Llamadas a fijos nacionales incluidas</a><span class="tooltip-content tooltip-top" >Algunos operadores establecen límites razonables en las llamadas a fijos incluidas. Por ejemplo, un máximo de minutos al mes o por llamada.</span></span>
					      						</div>
					      					</li>
					      					<li>
					      						<span title="Gratis Instalación" class="icon installation"></span>
					      						<span class="key-features-text">Gratis Instalación</span>
					      					</li>
					      					<li>
					      						<span title="Router WiFi incluido" class="icon hardware"></span>
					      						<span class="key-features-text">Router WiFi incluido</span>
					      					</li>
					      					<li>
					      						<span title="Permanencia de 12 meses" class="icon contract"></span>
					      						<span class="key-features-text">Permanencia de 12 meses</span>
					      					</li>
					      					<li>
					      						<span title="Teléfono gratuito de atención al cliente" class="icon customer-service"></span>
					      						<span class="key-features-text">Teléfono gratuito de atención al cliente</span>
					      					</li>
					      				</ul>
					      			</div>
					      		</div>
					      		<div id="product_cost">
					      			<a class="track-as-checkout product-cost-link" data-skip-goto="true" data-skip-goto-redirect="/goto/redirectonly?linktrackerid=3920" data-skip-goto-tracking="/goto?linktrackerid=3920&amp;trackingonly=true" href="/goto?linktrackerid=3920" target="_blank">        <h3>Coste mensual</h3>
					      				<p class="product-cost-price-info">
					      					<strong class="product-cost-total-price tf">23,48 €</strong>
					      					<small>(durante 3 meses)</small>
					      					<span class="product-cost-monthly-line-rental">Cuota de línea incluida</span>
					      					<span class="product-cost-new-line toggle-on toggle-newline" > Gratis</span>

					      					<small class="product-cost-vat-note">
					      						IVA incluido
					      					</small>
					      				</p>
					      				<div class="goto">
					      					<p class="goto-packagetext">
					      						<span class="goto-cta">Para contratar esta oferta</span>
					      						<span class="goto-providername">de Orange </span>
					      					</p>
					      					<span class="click-btn large">Ir a Orange</span>
					      					<p class="goto-phonenumber">
					      						<span class="pps phone-logo-small"></span>
					      						<span class="goto-phonenumber-cta">Llama a Orange al</span>
					      						<span class="goto-phonenumber-number" data-provider="orange" data-valuetype="phonenumber">900 906 103</span>

					      					</p>
					      				</div>
					      			</a>    <span class="dtl-data-attributes" data-dtl-broadband-connection-type="FibreBroadband" data-dtl-broadband-download-speed="300 Mb" data-dtl-broadband-usage="TRANSLATE: [Pay as you go]" data-dtl-contract-length="12" data-dtl-deal-types="QuadBundle,FibreBroadbandAndHomephoneAndMobile,BroadbandAndHomephoneAndMobile" data-dtl-first-year-cost="600,99 €" data-dtl-home-phone-summary="-" data-dtl-id="5030" data-dtl-line-rental="Cuota de línea incluida" data-dtl-list-name="" data-dtl-mobile-phone-connection-type="4G" data-dtl-mobile-phone-data="2 GB" data-dtl-mobile-phone-minutes="200 minutos" data-dtl-mobile-phone-texts="No incluye" data-dtl-monthly-cost="23,48 €" data-dtl-name="Canguro Ahorro 300Mb" data-dtl-position="" data-dtl-product-area="HomeComms" data-dtl-provider="Orange" data-dtl-special-offers="50% descuento,300 Mb simétricos,300Mb a precio de 50Mb" data-dtl-total-tv-channels="0" data-dtl-tv-channels=""></span>
					      		</div>


					      	</div>

					      	<br class="clear">
					      </div> <!-- tab_summary -->

					      <!-- end tab 1 -->

					    </uib-accordion-group>
					    <uib-accordion-group>
					      <uib-accordion-heading>
					        <div class="tab-sticker">
					            <div class="tab-sticker-title-container">
					                <h3 class="tab-sticker-title">Costes</h3>
					                <div>Coste mensual</div>
					                <span class="product-cost-price-info">
					                    <strong class="monthly-cost-price tf">23,48 €</strong>
					                        <small class="monthly-cost-price-note">(durante 3 meses)</small>

					                    <span class="first-year-cost-container">
					                        Coste del 1er año: <span class="first-year-cost">600,99 €</span>
					                    </span>
					                </span>
					            </div>
					            <div class="tab-sticker-content-container">
					                <ul class="tab-sticker-content">
					                    <li>
					                        <span class="first-year-cost">600,99 €</span>
					                        <span class="first-year-cost-label">Coste total 1er año</span>
					                    </li>
					                        <li>
					                            <span class="first-year-cost">GRATIS</span>
					                            <span class="line-rental-cost-label">Cuota de línea</span>
					                        </li>
					                </ul>
					            </div>
					        </div>
					      </uib-accordion-heading>
					      
					      <!-- start tab 2 -->

					      <div id="tab_cost_breakdown" class="bundledetails-tab-content tab-content">

					        <gratis-check></gratis-check> 

					        <br class="clear">
					      </div>

					      <!-- end tab 2 -->

					    </uib-accordion-group>

					    <uib-accordion-group>
					      <uib-accordion-heading>
					        <div class="tab-sticker">
					            <div class="tab-sticker-title-container">
					                <h3 class="tab-sticker-title tf">Internet</h3>
					                <span class="pps broadband-logo">
					                    <span class="download-speed tf">300 Mb</span>
					                </span>
					            </div>
					            <div class="tab-sticker-content-container">
					                <ul class="tab-sticker-content">
					                    <li> <span class="highlight">300 Mb</span> velocidad de bajada</li>
					                    <li> <span class="highlight">300 Mb</span> velocidad de subida</li>

					                </ul>
					            </div>

					        </div>
					      </uib-accordion-heading>
					      
					      <!-- start tab 3 -->

					      <div id="tab_broadband" class="bundledetails-tab-content tab-content" style="display: block;">
					        <article id="broadband_tab">
					          <section id="broadband_speeds">
					            <h3>Velocidad</h3>
					            <div class="broadband-info">
					              <span class="pps download-icon"></span>
					              <div class="info-container">
					                <h4>
					                  300 Mb
					                </h4>
					                <span class="tf speed-type">Bajada</span>
					                <p class="description">La velocidad real que recibas dependerá de las condiciones de tu línea o la congestión de la red en cada momento</p>
					              </div>
					              <div class="clear"></div>
					            </div>
					            <div class="broadband-info">
					              <span class="pps upload-icon"></span>
					              <div class="info-container">
					                <h4> 300 Mb</h4>
					                <span class="tf speed-type">Subida</span>
					                <p class="description">Esta velocidad hace referencia a cómo de rápido puedes enviar archivos</p>
					              </div>
					              <div class="clear"></div>
					            </div>
					          </section>

					          <section id="broadband_usage">
					            <h3></h3>
					            <div class="broadband-info">
					              <p class="tf description"></p>
					            </div>
					            <div class="broadband-info">
					              <h4></h4>
					              <p class="tf description"></p>
					            </div>
					          </section>
					          <br class="clear">
					        </article>

					        <br class="clear">
					      </div>

					      <!-- end tab 3 -->
					      
					    </uib-accordion-group>

					    <uib-accordion-group>
					      <uib-accordion-heading>
					        <div class="tab-sticker">
					            <div class="tab-sticker-title-container">
					                <h3 class="tab-sticker-title">Fijo</h3>
					                <span class="pps phone-logo"></span>
					                <span class="title-part tf phone-tariff">Llamadas incluidas</span>
					            </div>
					            <div class="tab-sticker-content-container">
					                <ul class="tab-sticker-content">
					                    <li class="highlight">Llamadas incluidas</li>
					                </ul>
					            </div>
					        </div>
					      </uib-accordion-heading>
					      
					      <!-- start tab 4 -->

					      <div id="tab_phone" class="bundledetails-tab-content tab-content" style="display: block;">
					        <article id="phone_tab">
					          <h2>Llamadas desde el fijo</h2>

					          <!-- <div id="call_rate_select" class="dropdown">
					            <button class="btn btn-default dropdown-toggle tf" type="button" data-toggle="dropdown">
					              Llamadas a: <span class="selected-item">fijos nacionales</span>
					              <span class="caret s"></span>
					            </button>
					            <ul class="dropdown-menu" >
					              <li class="menu-item selected" data-callrate="#phonetab_national_landline">fijos nacionales</li>
					              <li class="menu-item" data-callrate="#phonetab_international_landlines"> fijos internacionales</li>
					              <li class="menu-item" data-callrate="#phonetab_international_mobiles">móviles internacionales</li>
					            </ul>
					          </div> -->
					          <div class="select-container">
					            <select 
					            ng-model="vm.checkedTarifePrice" 
					            id="speed_options" 
					            class="ng-pristine ng-valid" 
					            ng-change="vm.showNameChanged()">
					              <option value="0" selected="selected" label="fijos nacionales">fijos nacionales</option> 
					              <option value="1" label="fijos internacionales">fijos internacionales</option>
					              <option value="2" label="móviles internacionales">móviles internacionales</option>
					            </select>
					            <span class="s dropdown-icon"></span>
					          </div>

					          <hr class="clear">
					          <section id="phonetab_national_landline" class="call-rate-list" ng-if="vm.nationalTarifes">
					            <table class="call-rates">
					              <thead>
					                <tr>
					                  <th></th>
					                  <th class="daytime">
					                    <span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Mañana</a><span class="tooltip-content tooltip-top" >Todos los días de 08:00 a 00:00</span></span>                </th>
					                    <th class="evening">
					                      <span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Noche</a><span class="tooltip-content tooltip-top" >Todos los días de 22:00 a 08:00 del día siguiente</span></span>                </th>
					                      <th class="weekend">
					                        <span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Fin de semana</a><span class="tooltip-content tooltip-top" >Sábados y Domingos</span></span>                </th>
					                      </tr>
					                    </thead>
					                    <tbody>
					                      <tr>
					                        <td class="call-type">Nacional</td>
					                        <td>GRATIS</td>
					                        <td>GRATIS</td>
					                        <td>GRATIS</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Movistar</td>
					                        <td>0,2415&nbsp;€</td>
					                        <td>0,1575&nbsp;€</td>
					                        <td>0,1575&nbsp;€</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Orange</td>
					                        <td>0,2415&nbsp;€</td>
					                        <td>0,1575&nbsp;€</td>
					                        <td>0,1575&nbsp;€</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Otros</td>
					                        <td>0,2415&nbsp;€</td>
					                        <td>0,1575&nbsp;€</td>
					                        <td>0,1575&nbsp;€</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Vodafone</td>
					                        <td>0,2415&nbsp;€</td>
					                        <td>0,1575&nbsp;€</td>
					                        <td>0,1575&nbsp;€</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Yoigo</td>
					                        <td>0,2415&nbsp;€</td>
					                        <td>0,1575&nbsp;€</td>
					                        <td>0,1575&nbsp;€</td>
					                      </tr>
					                    </tbody>
					                  </table>
					                </section>
					                <section id="phonetab_international_landlines" class="call-rate-list" ng-if="vm.internationalTarifes">
					                  <table class="call-rates">
					                    <thead>
					                      <tr>
					                        <th></th>
					                        <th class="daytime">
					                          <span class="tooltip-root">
					                            <a class="tooltip-hover-open s" href="#">Mañana</a>
					                          <span class="tooltip-content tooltip-top" >Todos los días de 00:00 a 00:00</span>
					                          </span>                
					                        </th>
					                        <th class="evening">
					                          <span class="tooltip-root">
					                            <a class="tooltip-hover-open s" href="#">Noche</a>
					                            <span class="tooltip-content tooltip-top" >Todos los días de 00:00 a 00:00 del día siguiente</span></span>                
					                        </th>
					                        <th class="weekend">
					                            <span class="tooltip-root">
					                              <a class="tooltip-hover-open s" href="#">Fin de semana</a>
					                              <span class="tooltip-content tooltip-top" >Sábados y Domingos</span>
					                            </span>
					                        </th>
					                      </tr>
					                    </thead>
					                    <tbody>
					                      <tr>
					                        <td class="key">Alemania</td>
					                        <td>0,13&nbsp;€</td>
					                        <td>0,13 €</td>
					                        <td>0,13 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Argentina</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Brasil</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Chile</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">China</td>
					                        <td>0,30 €</td>
					                        <td>0,30 €</td>
					                        <td>0,30 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Colombia</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Cuba</td>
					                        <td>0,89 €</td>
					                        <td>0,89 €</td>
					                        <td>0,89 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Ecuador</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Estados Unidos</td>
					                        <td>0,13 €</td>
					                        <td>0,13 €</td>
					                        <td>0,13 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Francia</td>
					                        <td>0,13 €</td>
					                        <td>0,13 €</td>
					                        <td>0,13 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Italia</td>
					                        <td>0,13 €</td>
					                        <td>0,13 €</td>
					                        <td>0,13 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Marruecos</td>
					                        <td>0,30 €</td>
					                        <td>0,30 €</td>
					                        <td>0,30 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">México</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Perú</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Portugal</td>
					                        <td>0,13 €</td>
					                        <td>0,13 €</td>
					                        <td>0,13 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Reino Unido</td>
					                        <td>0,13 €</td>
					                        <td>0,13 €</td>
					                        <td>0,13 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Rep. Dominicana</td>
					                        <td>0,28 €</td>
					                        <td>0,28 €</td>
					                        <td>0,28 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Rumanía</td>
					                        <td>0,30 €</td>
					                        <td>0,30 €</td>
					                        <td>0,30 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Uruguay</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Venezuela</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                        <td>0,37 €</td>
					                      </tr>
					                    </tbody>
					                  </table>
					                </section>
					                <section id="phonetab_international_mobiles" class="call-rate-list" ng-if="vm.internaMobileTarifes">
					                  <table class="call-rates">
					                    <thead>
					                      <tr>
					                        <th></th>
					                        <th class="daytime">
					                          <span class="tooltip-root">
					                            <a class="tooltip-hover-open s" href="#">Mañana</a>
					                            <span class="tooltip-content tooltip-top" >Todos los días de 00:00 a 00:00</span>
					                          </span>                
					                        </th>
					                        <th class="evening">
					                          <span class="tooltip-root">
					                            <a class="tooltip-hover-open s" href="#">Noche</a>
					                            <span class="tooltip-content tooltip-top" >dtl.europe.model.ViewModels.Product.ProductCallRateGroup</span>
					                          </span>                
					                        </th>
					                          <th class="weekend">
					                            <span class="tooltip-root">
					                              <a class="tooltip-hover-open s" href="#">Fin de semana</a>
					                              <span class="tooltip-content tooltip-top" >dtl.europe.model.ViewModels.Product.ProductCallRateGroup</span>
					                            </span>                
					                          </th>
					                      </tr>
					                    </thead>
					                    <tbody>
					                      <tr>
					                        <td class="key">Alemania</td>
					                        <td>0,32&nbsp;€</td>
					                        <td>0,32 €</td>
					                        <td>0,32 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Argentina</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Brasil</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Chile</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">China</td>
					                        <td>0,68 €</td>
					                        <td>0,68 €</td>
					                        <td>0,68 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Colombia</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Cuba</td>
					                        <td>0,89 €</td>
					                        <td>0,89 €</td>
					                        <td>0,89 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Ecuador</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Estados Unidos</td>
					                        <td>0,32 €</td>
					                        <td>0,32 €</td>
					                        <td>0,32 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Francia</td>
					                        <td>0,32 €</td>
					                        <td>0,32 €</td>
					                        <td>0,32 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Italia</td>
					                        <td>0,32 €</td>
					                        <td>0,32 €</td>
					                        <td>0,32 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Marruecos</td>
					                        <td>0,30 €</td>
					                        <td>0,30 €</td>
					                        <td>0,30 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">México</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Perú</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Portugal</td>
					                        <td>0,32 €</td>
					                        <td>0,32 €</td>
					                        <td>0,32 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Reino Unido</td>
					                        <td>0,32 €</td>
					                        <td>0,32 €</td>
					                        <td>0,32 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Rep. Dominicana</td>
					                        <td>0,31 €</td>
					                        <td>0,31 €</td>
					                        <td>0,31 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Rumanía</td>
					                        <td>0,30 €</td>
					                        <td>0,30 €</td>
					                        <td>0,30 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Uruguay</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                      </tr>
					                      <tr>
					                        <td class="key">Venezuela</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                        <td>0,46 €</td>
					                      </tr>
					                    </tbody>
					                  </table>
					                </section>
					                <section id="additional_information">
					                  <h4>Información adicional</h4>
					                  <ul>
					                    <li>
					                      Las llamadas incluidas no tienen establecimiento de llamada. Una vez consumidos los minutos del paquete, el establecimiento es de 0,15 € a fijos nacionales y de 0,15 € a móviles nacionales. El establecimiento de las llamadas internacionales depende del país de destino (a fijos de Europa Occidental es de 0,25 €).
					                    </li>

					                    <li>
					                      Los costes mostrados sólo son aplicables una vez consumidos los minutos incluidos en la oferta.
					                    </li>
					                  </ul>
					                </section>

					                <section id="phonetab_billing_options">
					                  <h3>Opciones de facturación</h3>
					                  <table class="compact-table">
					                    <thead>
					                      <tr>
					                        <th>Tipo de factura</th>
					                        <th>Coste</th>
					                      </tr>
					                    </thead>
					                    <tbody>
					                      <tr>
					                        <td>
					                          <span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Factura en papel</a><span class="tooltip-content tooltip-top" >Cada mes se recibe la factura por correo postal.</span></span>
					                        </td>
					                        <td>Gratis</td>
					                      </tr>
					                      <tr>
					                        <td>
					                          <span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Factura online</a><span class="tooltip-content tooltip-top" >La factura puede consultarse a través de la página web del operador. Al activar esta opción deja de recibirse en papel.</span></span>
					                        </td>
					                        <td>Gratis</td>
					                      </tr>
					                      <tr>
					                        <td>
					                          <span class="tooltip-root"><a class="tooltip-hover-open s" href="#">Domiciliación bancaria</a><span class="tooltip-content tooltip-top" >La factura se cobra directamente desde la cuenta bancaria del cliente.</span></span>
					                        </td>
					                        <td>Gratis</td>
					                      </tr>
					                      <tr>
					                        <td>Pago por ventanilla</td>
					                        <td>El operador no admite esta forma de pago.</td>
					                      </tr>
					                    </tbody>
					                  </table>
					                  <h4><span class="icon lightbulb"></span><span class="icon-title">¿Qué son las opciones de facturación?</span></h4>
					                  <p>El método habitual de pago es la domiciliación bancaria, aunque hay proveedores que también permiten pagar cada mes en una oficina bancaria. Además, como la factura puede consultarse por Internet, no siempre se envía en papel.</p>
					                </section>



					                <p id="phonetab_last_updated">Página actualizada el 07/06/2016</p>
					              </article>

					              <br class="clear">
					            </div>

					      <!-- end tab 4 -->
					      
					    </uib-accordion-group>

					    <uib-accordion-group>
					      <uib-accordion-heading>
					        <div class="tab-sticker">
					            <div class="tab-sticker-title-container">
					                <h3 class="tab-sticker-title tf">Móvil</h3>
					                <span class="pps mobile-logo"></span>
					            </div>
					            <div class="tab-sticker-content-container">
					                <ul class="tab-sticker-content">
					                    <li>Datos: 2 GB</li>
					                    <li>Minutos incluidos: 200 minutos</li>
					                    <li>SMS incluidos: No incluye</li>
					                </ul>
					            </div>
					        </div>
					      </uib-accordion-heading>
					      
					      <!-- start tab 5 -->

					      <div id="tab_mobile" class="bundledetails-tab-content tab-content" style="display: block;">
					        <article id="mobile_tab">
					          <section>
					            <h2>Móvil</h2>

					            <h4>Llamadas</h4>

					            <div class="row">
					              <div class="key"><h5>Minutos incluidos:</h5></div>
					              <div class="value">
					                <h5>200 minutos</h5>
					              </div>
					              <div class="description">Son las llamadas a fijos y móviles nacionales que cada mes incluye tu tarifa. Al usar estos minutos no hay establecimiento de llamada ni ningún tipo de coste adicional.</div>
					            </div>

					            <div class="row">
					              <div class="key"><h5>Coste fuera de tarifa:</h5></div>
					              <div class="value">
					                <h5>21,78 cént/min</h5>
					                <div class="note">18,15</div>
					              </div>
					              <div class="description">Es el coste de las llamadas una vez consumidos los minutos de tu tarifa. Obviamente, si tu tarifa tiene llamadas ilimitadas, no hay ningún coste extra ni establecimiento.</div>
					            </div><br class="clear">


					            <h4>Internet móvil</h4>

					            <div class="row">
					              <div class="key"><h5>Datos:</h5></div>
					              <div class="value">
					                <h5>2 GB</h5>
					              </div>
					              <div class="description">Es el número de megas que incluye tu tarifa cada mes para navegar a máxima velocidad desde tu móvil. Para chatear y consultas, no necesitarás muchos. Para música o vídeos, son aconsejables 500 MB o 1 GB.</div>
					            </div>

					            <div class="row">
					              <div class="key"><h5>Velocidad:</h5></div>
					              <div class="value">
					                <h5>4G</h5>
					              </div>
					              <div class="description">Es la velocidad máxima a la que podrás navegar. Las redes 3G alcanzan velocidades de hasta 7,2 Mb/s y las 4G de hasta 100 Mb/s. Para el 4G necesitas un smartphone compatible y estar en zona de cobertura.</div>
					            </div><br class="clear">

					            <div class="row">
					              <div class="key"><h5>Exceso de datos:</h5></div>
					              <div class="value">
					                <h5>Sin Coste</h5>
					              </div>
					              <div class="description">Es el precio de los megas adicionales una vez consumidos los de tu tarifa. Si no hay coste, se reduce la velocidad hasta el siguiente mes.</div>
					            </div>


					            <h4>Mensajes</h4>

					            <div class="row">
					              <div class="key"><h5>SMS incluidos:</h5></div>
					              <div class="value">
					                <h5>No incluye</h5>
					              </div>
					              <div class="description">Es el número de mensajes SMS que incluye tu tarifa cada mes. En caso de no tener ninguno, se tarificarán al precio habitual.</div>
					            </div><br class="clear">

					            <div class="row">
					              <div class="key"><h5>Coste fuera de tarifa:</h5></div>
					              <div class="value">
					                <h5>12 cént/SMS</h5>
					              </div>
					              <div class="description">Es el coste de los mensajes en caso de que tu tarifa no incluya o hayas agotados los del mes.</div>
					            </div>


					            <h4>Líneas adicionales</h4>
					            <div class="row">
					              <div class="key"><h5>6,95 €/mes:</h5></div>
					              <div class="value">
					                <h5>Canguro 500 MB</h5>
					              </div>
					              <div class="description">Incluye llamadas por 1 céntimo/minuto (más establecimiento de 18 céntimos) y 500 MB de navegación 4G</div>
					            </div><br class="clear">
					            <div class="row">
					              <div class="key"><h5>10,95 €/mes:</h5></div>
					              <div class="value">
					                <h5>Canguro Ahorro</h5>
					              </div>
					              <div class="description">Incluye 150 minutos y 1 GB de navegación 4G</div>
					            </div>
					            <div class="row">
					              <div class="key"><h5>22,95 €/mes:</h5></div>
					              <div class="value">
					                <h5>Canguro Sin Límites</h5>
					              </div>
					              <div class="description">Incluye llamadas ilimitadas y 2,5 GB de navegación 4G</div>
					            </div><br class="clear">
					            <h4>Smartphones</h4>
					            <div class="row">
					              <div class="key"><h5>Nokia Lumia 635, Sony Xperia E1, Sony Xperia M2:</h5></div>
					              <div class="value">
					                <h5>Smartphones gratuitos</h5>
					              </div>
					              <div class="description">Algunos operdores ofrecen smartphones completamente gratis al contratar un paquete de internet y móvil. Pero ten en cuenta que aceptar uno de estos teléfonos puede suponer una permanencia más larga.</div>
					            </div>
					          </section>
					        </article>


					        <br class="clear">
					      </div>

					      <!-- end tab 5 -->
					      
					    </uib-accordion-group>
					 </uib-accordion>
				</section>

				

<!-- 				<div class="goto cta has-number" style="display: block;">
					<a class="track-as-checkout product-cost-link" data-skip-goto="true" data-skip-goto-redirect="/goto/redirectonly?linktrackerid=3920" data-skip-goto-tracking="/goto?linktrackerid=3920&amp;trackingonly=true" href="/goto?linktrackerid=3920" target="_blank">        <span class="click-btn medium provider-name">Ir a Orange</span>
					</a>    <span class="dtl-data-attributes" data-dtl-broadband-connection-type="FibreBroadband" data-dtl-broadband-download-speed="300 Mb" data-dtl-broadband-usage="TRANSLATE: [Pay as you go]" data-dtl-contract-length="12" data-dtl-deal-types="QuadBundle,FibreBroadbandAndHomephoneAndMobile,BroadbandAndHomephoneAndMobile" data-dtl-first-year-cost="600,99 €" data-dtl-home-phone-summary="-" data-dtl-id="5030" data-dtl-line-rental="Cuota de línea incluida" data-dtl-list-name="" data-dtl-mobile-phone-connection-type="4G" data-dtl-mobile-phone-data="2 GB" data-dtl-mobile-phone-minutes="200 minutos" data-dtl-mobile-phone-texts="No incluye" data-dtl-monthly-cost="23,48 €" data-dtl-name="Canguro Ahorro 300Mb" data-dtl-position="" data-dtl-product-area="HomeComms" data-dtl-provider="Orange" data-dtl-special-offers="50% descuento,300 Mb simétricos,300Mb a precio de 50Mb" data-dtl-total-tv-channels="0" data-dtl-tv-channels=""></span>

					<div class="goto-phonenumber click-btn">
						<span class="pps phone-logo-small"></span>
						<span class="goto-phonenumber-cta">Llama a Orange al</span>
						<a class="goto-phonenumber-number pps" data-provider="orange" data-valuetype="phonenumber" href="tel:900906103"><span class="pps"></span>900 906 103</a>
					</div>
				</div> -->

				<aside id="provider_summary" class="tab-content" style="display: block;">
					<div id="provider_details">
						<div id="package_video_info">

							<div id="package_video">
								<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
									<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">	
										<div class="wistia_embed wistia_async_zp3h9heikp seo=false" style="width:470px;height:264px">&nbsp;</div>
									</div>
								</div>

								
	

							</div>
						</div>

						<div id="what_happens_next">
							<span class="flow"></span>
							<h4>Paso a paso</h4>
							<ol>
								<li>
									<span class="tf bullet pps">1</span>
									<span class="step">Haz clic en 'Ir a Orange'</span>
									<hr>
								</li>
								<li>
									<span class="tf bullet pps">2</span>
									<span class="step">Se te redirigirá a la página del operador</span>
									<hr>
								</li>
								<li class="last">
									<span class="tf bullet pps">3</span>
									<span class="step">Introduce tu teléfono, espera a que te llamen y contrata si estás convencido</span>
								</li>
							</ol>
						</div>


					</div>



					<br class="clear">
				</aside>






	</div> <!-- product -->
</div> <!-- page -->
    