<article id="cost_breakdown_tab">
	<div id="upfront_costs" class="cost-breakdown-col">
		<h3>Alta</h3>
		<dl>
			<dd class="tf clear toggle-on toggle-newline" style="display: none;">Gratis</dd>
			<dt class="tf toggle-on toggle-newline" style="display: none;">Alta de línea</dt>

			<dd class="tf clear hardware-cost">Gratis</dd>
			<dt class="tf">Router WiFi</dt>

			<dd class="tf clear">Gratis</dd>
			<dt class="tf">Instalación</dt>

			<dd class="tf clear">Gratis</dd>
			<dt class="tf">Entrega</dt>
		</dl>
	</div>
	<div id="monthly_costs" class="cost-breakdown-col">
		<h3>Cuota mensual</h3>
		<section>
			<dl class="excluding-line-rental" ng-if="gratisCheck">
				<dd class="tf clear">23,48 €</dd>
				<dt class="tf">Primeros 3 meses</dt>
				<dd class="tf clear">58,95 €</dd>
				<dt class="tf">Después</dt>
			</dl>
			<dl class="including-line-rental" ng-if="!gratisCheck">
				<dd class="tf clear">23,48 €</dd>
				<dt class="tf">Primeros 0 meses</dt>
				<dd class="tf clear">58,95 €</dd>
				<dt class="tf">Después</dt>
			</dl>

			<span class="excluding-line-rental monthly-line-rental clear" ng-if="!gratisCheck">(+ GRATIS Cuota de línea)</span>
		</section>
	</div>
	<div id="total_costs" class="cost-breakdown-col">
		<h3>Coste del primer año</h3>
		<span id="total_first_year_cost">
			
			<span class="toggle-on toggle-newline">
				<span class="excluding-line-rental tf">600,99 €</span>
			</span>
		</span>
		<span class="monthly-line-rental including-line-rental clear" ng-if="gratisCheck">(Incluye GRATIS Cuota de línea)</span>
	</div>

	<div id="cost_info" class="cost-breakdown-col">
		<aside>
			<h3>¿Incluir cuota de línea?</h3>
			<p>Con esta oferta es obligatorio pagar una cuota de línea cada mes. Haz clic para incluirla en los costes</p>
			<span class="line-rental-toggle line-rental-excluded" id="checkGratis">
				<span  class="pps"></span>
			</span>

			<p class="line-rental-toggle-label">¿Incluir los <span class="monthly-line-rental">GRATIS/mes</span> de cuota de línea?</p>
		</aside>
	</div>

	<img class="tax-included" src="/assets/images/iva-incluido.png" alt="IVA INCLUIDO en todos los precios"> 
	<br class="clear">
</article>