<div class="page compare_page">
  <div id="ng-app">
    <div id="celsus_results" class="default ng-scope subheaded-grid showing-refinement">
      <div id="results_lead_content" class="default ng-scope">
        <div id="results_lead_content_inner">
          <div id="deal_title">
            <h2>
                      <span >Mostrando <strong>33 ofertas</strong> para tu código postal (<span postcode-holder >28028
                      <a id="edit_postcode" href="#">cambiar</a></span>)</span>


                  </h2>
          </div>
          <ul id="tabs" class="tabs ng-scope" select-option-radio>
            <li>
              <label class="tab tf label-button unselected" for="BroadbandAndDigitalTvAndHomephone">
                <!--[if gt IE 7]><!-->
                <span class="tab-name ng-binding">Internet + fijo +TV</span>
                <!--<![endif]-->
                <!--[if IE 7]>{{tab.name}}<![endif]-->
                <input type="radio" name="tab" ng-model="criteria.tabs.current" class="ng-pristine ng-valid" id="BroadbandAndDigitalTvAndHomephone" value="BroadbandAndDigitalTvAndHomephone">
                <span class="s"></span>
              </label>
            </li>
            <li>
              <label class="tab tf label-button selected" for="BroadbandAndHomephoneAndMobile">
                <span class="tab-name ng-binding">Internet + móvil</span>
                <input type="radio" name="tab" ng-model="criteria.tabs.current" class="ng-pristine ng-valid" id="BroadbandAndHomephoneAndMobile" value="BroadbandAndHomephoneAndMobile">
                <span class="s"></span>
              </label>
            </li>
          </ul>
          <div id="vat_message">
            <span id="vat-title" class="tf">VAT is already included in the price of these deals, so they are not more expensive but more transparent.</span>
            <span class="tooltip-root">
                  <a class="tooltip-click-open rs info-icon vat-info" href="#"></a>
                  <span class="tooltip-content tooltip-right">
                      <p>Mostramos todos nuestros precios con el <strong>IVA incluido</strong> para que así sepas lo que realmente vas a pagar. Al ya incluir los impuestos, en nuestra web los precios no son más caros sino <strong>más transparentes.</strong></p>
                          <p>El IVA es un <strong>impuesto</strong> indirecto sobre el consumo que debes pagar siempre al comprar algo. En la <strong>Península y Baleares</strong>, el IVA supone un <strong>coste adicional del 21%</strong> (que nosotros ya incluimos). En <strong>Canarias, Ceuta y Melilla</strong>, no hay IVA sino un impuesto más bajo. Por lo que en estos territorios el precio será inferior al mostrado.
                      </p>
                      </span>
                  </span>
              </div>
              
          </div> <!-- results_lead_content_inner -->
<more-filters></more-filters>
          



    </div> <!-- celsus_results -->
  </div> <!-- ng-app -->
</div> <!-- page -->







<div class="container">
  <div class="row">
    <div class="col-xs-12"  elWidthResize type="desctop">
      <table ng-table="vm.tableObj" template-header="sample_ng_header" class="table table-bordered">
          <tr ng-repeat="row in $data">
            <td class="text-center" width="120px">
              <img ng-src="{{row.operator.icon}}" alt="" style="width: 75%">
              <h5 class="m-t-10">{{row.operator.linkText}}</h5>
            </td>
            <td><strong>{{row.speed}}</strong>mb</td>
            <!-- <td><strong>{{row.tv}}</strong> canales</td> -->
            <td>
              <h5 ng-if="row.fixed.includingFixed">Fijos incluidos</h5>
              <span class="sprite phone"></span>
              <h5 ng-if="row.fixed.includingMobile">{{row.fixed.includingMobile}} min. a móviles</h5>
              <h5 ng-if="!row.fixed.includingMobile">Móviles incluidos</h5>
            </td>
            <td>{{row.minutes ? row.minutes + ' minutos' : 'Llamadas ilimitadas' }}</td>
            <td>
              {{(row.data.data / 1000) >= 1 ? row.data.data/1000 + ' GB' : row.data.data + ' MB'}}
              <div class="circle-num ">{{row.data.type}}</div>
            </td>
            <td>{{row.permanence ? row.permanence + ' meses' : 'Sin permanencia'}}</td>
            <td><img ng-src="{{row.promotion}}" alt="">
              <h6>Aprovéchalo</h6></td>
            <td class="spec-info" width="200px">
              <div>
                Coste mensual:
                <h2 class="monthly-cost-price">40,00 €</h2>
                <small class="ng-binding ng-scope">(durante 3 meses)</small>
              </div>
              Coste del 1er año: <strong class="ng-binding">570,00 €</strong>
              <br>
              <span class="vat-note">IVA incluido</span>
              <div class="add-data" ng-class="{'opened': row.opened}">
                <div class="add-data-title-block">
                  <div class="add-data-title">{{ row.opened ? 'Ocultar' : 'Más detalles' }}</div>
                  <div class="add-data-toggle" ng-click="row.opened = !row.opened">
                    <i ng-if="!row.opened" class="glyphicon glyphicon-menu-down" style="color: #ff5c08"></i>
                    <i ng-if="row.opened" class="glyphicon glyphicon-menu-up" style="color: #ff5c08"></i>
                  </div>
                </div>
              </div>
            </td>
            <td width="200px">
              <button class="btn btn-lg" style="background: #ff5c08; color: white;">
                Ir al operador <span class="glyphicon glyphicon-menu-right pull-right"></span>
              </button>
              <button class="btn btn-lg  m-t-10" style="background: #ff5c08; color: white;">
                Más Info <span class="glyphicon glyphicon-menu-right pull-right"></span>
              </button>
              <p class="m-t-10">
                Llama a Vodafone
              </p>
              <strong>900 802 378</strong>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-xs-12" elWidthResize type="mobile">
      <table ng-table="vm.tableObj" template-header="sample_ng_header_mobile" class="table table-bordered">
          <tr ng-repeat="row in $data">
            <td class="text-center" width="120px">
              <img ng-src="{{row.operator.icon}}" alt="" style="width: 75%">
            </td>
            <td>
              <strong>{{row.speed}}</strong>mb
            </td>
            <td>
              <img ng-src="{{row.promotion}}" alt="">
            </td>
            <td class="spec-info" width="200px">
              <div>
                Coste mensual: <h2 class="monthly-cost-price">40,00 €</h2>
                <small class="ng-binding ng-scope">(durante 3 meses)</small>
              </div>
            </td>
            <td width="200px">
              <button class="btn btn-lg  m-t-10" style="background: #ff5c08; color: white;">
                  Más Info <span class="glyphicon glyphicon-menu-right pull-right"></span>
              </button>
            </td>
          </tr>
        </table>
    </div>
  </div>
  <script id="sample_ng_header" type="text/ng-template">
    <tr>
      <th ng-repeat="column in vm.tableSubjectSetupColumns" sortable="column.field" ng-class="{'combine': column.combiner}" class="{{column.alignClass || 'text-center'}}" ng-click="column.sortable ? vm.tableObj.sorting(column.field, vm.tableObj.isSortBy(column.field, 'asc') ? 'desc' : 'asc') : ''">
        <span class="combine-text" ng-if="column.combiner">{{column.combiner}}</span> {{column.title}}
        <br>
        <i ng-if="column.sortable && !column.specialContent" class="glyphicon glyphicon-menu-down" style="color: #ff5c08"></i>
        <div class="checkbox" ng-if="column.specialContent">
          <label>
            <input type="checkbox" value="">con cuota de línea
          </label>
        </div>
        <span uib-dropdown on-toggle="toggled(open)" ng-if="column.specialContent">
                <a href id="simple-dropdown" uib-dropdown-toggle>
                  <i class="glyphicon glyphicon-menu-down" style="color: #ff5c08"></i>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                  <li>
                    <a href>Coste del 1er año</a>
                    <a href>Más barato</a>
                  </li>
                </ul>
              </span>
      </th>
  </tr>
</script>

<script id="sample_ng_header_mobile" type="text/ng-template">
  <tr>
      <th ng-repeat="column in vm.tableSubjectSetupColumns"
          sortable="column.field"
          ng-class="{'combine': column.combiner}"
          class="{{column.alignClass || 'text-center'}}"
          ng-click="column.sortable ? vm.tableObj.sorting(column.field, vm.tableObj.isSortBy(column.field, 'asc') ? 'desc' : 'asc') : ''">
              <span class="combine-text" ng-if="column.combiner">{{column.combiner}}</span>
              {{column.title}} <br>

      </th>
  </tr>
</script>
