<div id="more_filters">
  
  <div elWidthResize type="mobile">
    <div class="results-refine-option" >
        <h5>Ver ofertas de:</h5>
        <select id="bundle_group"  class="ng-pristine ng-valid">
            <option value="BroadbandAndDigitalTvAndHomephone" class="ng-binding ng-scope">Internet + fijo +TV</option>
            <option value="BroadbandAndHomephone"  class="ng-binding ng-scope">Internet + fijo</option>
            <option value="BroadbandOnly"  class="ng-binding ng-scope">Sólo internet</option>
            <option value="BroadbandAndDigitalTvAndHomephoneAndMobile"  class="ng-binding ng-scope">Internet + móvil + TV</option>
            <option value="BroadbandAndHomephoneAndMobile"  class="ng-binding ng-scope" selected="selected">Internet + móvil</option>
        </select>
        
    </div>

    <div id="sort_select_container" class="results-refine-option" >
        <h5>Ordenar:</h5>
        <select id="sort_select"   class="ng-scope ng-pristine ng-valid">
            <option  value="-provider.name" class="ng-binding ng-scope">Operador</option>
            <option  value="visiblePrice.initialMonthlyCost"  class="ng-binding ng-scope" selected="selected">Más barato</option>
            <option  value="contractLength"  class="ng-binding ng-scope">Permanencia</option>
            <option  value="-speed.sortValue"  class="ng-binding ng-scope">Más rápido</option>
            <option  value="visiblePrice.firstYear"  class="ng-binding ng-scope">Coste del 1er año</option>
            <option  value="-mobile.minutes.sortValue"  class="ng-binding ng-scope">Minutos</option>
            <option  value="-mobile.data.sortValue"  class="ng-binding ng-scope">Datos</option>
        </select>
    </div>
    <div id="vat_message">
      <span id="vat-title" class="tf">El IVA ya está incluido en el precio de estas ofertas, por lo que no son más caras sino más transparentes.</span>

      <span class="tooltip-root"><a class="tooltip-click-open rs info-icon vat-info" href="#"></a>
        <span class="tooltip-content tooltip-top" style="display: none;">        
        <p>Mostramos todos nuestros precios con el <strong>IVA incluido</strong> para que así sepas lo que realmente vas a pagar. Al ya incluir los impuestos, en nuestra web los precios no son más caros sino <strong>más transparentes.</strong></p>
                <p>El IVA es un <strong>impuesto</strong> indirecto sobre el consumo que debes pagar siempre al comprar algo. En la <strong>Península y Baleares</strong>, el IVA supone un <strong>coste adicional del 21%</strong> (que nosotros ya incluimos). En <strong>Canarias, Ceuta y Melilla</strong>, no hay IVA sino un impuesto más bajo. Por lo que en estos territorios el precio será inferior al mostrado.</p>
        </span>
      </span>
    </div>
      
  </div>
  <div id="refine_options" class="page page-width ng-scope">
        <div id="deal_title" elWidthResize type="mobile">
          <h2 deal-title-text=""><span class="ng-scope">Mostrando 33 Internet + móvil ofertas para tu código postal (<a id="search_again_link" href="/">28028</a>)</span></h2>
        </div> 
      <button id="more_filters_btn" class="results-options-link link-button rs ng-scope">¿Buscas algo en concreto?</button>
    </div>

              

          <section id="filters" class="page-width">

          <form id="filter_form" novalidate="novalidate" class="ng-pristine ng-valid">

              <fieldset id="speed_filter"  >
              <div class="label-container">
                  <label class="filter-title tf" for="speed_options">Field</label>
                  <span class="tooltip-root align-tooltip-to-legend">
                  <a class="tooltip-click-open rs info-icon" href="#"></a>
                  <span class="tooltip-content">
                  <a class="tooltip-close tf s" href="#">Cerrar</a>
                      <p>La velocidad de tu conexión determina cómo de rápido puedes abrir una web, descargar archivos o compartir un vídeo.</p>
                      <p><strong>Normal:</strong> Si principalmente utilizas internet para consultar webs, enviar o recibir correos y  participar en redes sociales.</p>
                      <p><strong>Rápida:</strong> Si usas tu conexión habitualmente para ver películas, escuchar música o jugar en línea. También es la opción recomendable si compartes tu internet con varias personas.</p>
                      <p><strong>Supersónica:</strong> Si quieres tenerlo todo al instante y vives rodeado de dispositivos. Para ver la televisión on-line sin pausas, enviar grandes archivos o jugar con la máxima precisión. Es espcialmente recomendable si tu conexión la compartes con muchas personas.</p>
                  </span></span>
              </div>

              <div class="select-container">
                  <select id="speed_options"  class="ng-pristine ng-valid">
                      <option value="0" selected="selected" label="Normal">Normal</option>
                      <option value="1" label="Rápida">Rápida</option>
                      <option value="2" label="Supersónica">Supersónica</option>
                  </select>
                  <span class="s dropdown-icon"></span>
              </div>
            </fieldset>

            <fieldset id="providers_filter">
                <div class="label-container">
                    <label class="filter-title tf">Field</label>
                    <span class="tooltip-root align-tooltip-to-legend"><a class="tooltip-click-open rs info-icon" href="#"></a>
                    <span class="tooltip-content">
                        <a class="tooltip-close tf s" href="#">Cerrar</a>
                            <p><strong>¿Por qué no puedo ver o elegir un operador?</strong></p>
                            <p>Puede haber varias razones por las que no puedas elegir a ciertos operadores. La primera es que algunas compañías podrían no tener cobertura donde vivas. Otra razón es que quizás un operador no disponga del tipo paquete que has elegido (con televisión, por ejemplo).</p>
                            <p>En Comparaiso.es incluimos los principales operadores nacionales de banda ancha y también algunos más pequeños. Reconocemos que podría haber algunas compañías que no se muestren, pero nos esforzamos por mejorar constantemente nuestro servicio. Si eres un operador y quieres aparecer en nuestro comparador, te animamos a que te pongas en contacto con nosotros.</p>
                    </span>
                    </span>

                    <div id="provider_buttons">
                        <button id="select_all_providers" type="button" class="link-button">Seleccionar todos</button>
                        <button id="deselect_all_providers" type="button" class="link-button">Borrar todos</button>
                        <button id="toggle_all_providers" type="button" class="tf link-button">Mostrar todos</button>
                    </div>
                </div>

                <div id="provider_options" class="filter-options">
                    <div id="provider_options_wrapper" class="more-providers">
                        <ul>
                            <li>
                                <label class="label-button" select-option for="option1">
                                    <input type="checkbox" class="ng-pristine ng-valid" id="option1">
                                    <img src="https://www.comparaiso.es/remote.jpg.ashx?urlb64=aHR0cHM6Ly9idWNrZXQuY2RuZHRsLmNvLnVrL0V1cm9wZS9TcGFpbi9sb2dvcy90cmFuc3BhcmVudC92b2RhZm9uZS05OXg5OS5wbmc&hmac=FxVTH2InBQ4&height=52&width=52" alt="">
                                    <span class="s"></span>
                                </label>
                            </li>
                            <li  >
                                <label class="label-button" select-option for="option2">
                                    <input type="checkbox" class="ng-pristine ng-valid" id="option2">
                                    <img src="https://www.comparaiso.es/remote.jpg.ashx?urlb64=aHR0cHM6Ly9idWNrZXQuY2RuZHRsLmNvLnVrL0V1cm9wZS9TcGFpbi9sb2dvcy90cmFuc3BhcmVudC9vbm8tOTl4OTkucG5nP2NhY2hlPTQzMQ&hmac=cfEMFmpjYF8&height=52&width=52" alt="">
                                    <span class="s"></span>
                                </label>
                            </li>
                        </ul>
                    </div>

                </div>
            </fieldset>

            <fieldset id="contract_filter" >
                <div class="label-container">
                    <label class="filter-title tf">Field</label>
                    <span class="tooltip-root align-tooltip-to-legend">
                        <a class="tooltip-click-open rs info-icon" href="#"></a>
                        <span class="tooltip-content">
                            <a class="tooltip-close tf s" href="#">Cerrar</a>
                        </span>
                    </span>
                </div>
                <div id="contract_options" class="filter-options">
                    <ul select-option-radio>
                        <li>
                            <label class="label-button" for="contract_any">
                                <input  type="radio" name="contract" value="0:Infinity">
                                <span class="s"></span>
                                <span class="tf contract-filter-label ng-binding" >option</span>
                            </label>
                        </li>
                        <li>
                            <label class="label-button" for="contract_any">
                                <input  type="radio" name="contract" value="0:Infinity">
                                <span class="s"></span>
                                <span class="tf contract-filter-label ng-binding" >option</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </fieldset>

            <fieldset id="broadband_type_filter"  class="ng-scope">
              <div class="label-container">
                <label class="filter-title tf" >¿Qué tipo de conexión buscas?</label>
                <span class="tooltip-root align-tooltip-to-legend"><a class="tooltip-click-open rs info-icon" href="#"></a><span class="tooltip-content tooltip-top" style="display: none;">    <a class="tooltip-close tf s" href="#">Cerrar</a>
                  <p>Las conexiones de fibra óptica aseguran recibir la velocidad contratada. Sin embargo, su cobertura es más limitada.</p>
                </span></span>
              </div>
              <div id="broadband_type_options" class="filter-options">
              <ul>
                <li class="ng-scope">
                  <label class="label-button"  select-option for="FibreBroadband">
                    <input  type="checkbox"  name="FibreBroadband" class="ng-pristine ng-valid" id="FibreBroadband">
                    <span class="s"></span>
                    <span class="tf">Solo Fibra Óptica</span>

                  </label>
                </li>
              </ul>
            </div>
          </fieldset>

            <button class="click-btn" type="button" id="apply" >Filtrar</button>
            <button class="link-button" type="button" id="cancel" >Cancelar</button>

            <br class="clear">
          </form>
          </div> <!-- more_filters -->